<section class="{{ block.slug }} {{ block.className }}">
	{% if block.anchor %}
		<div class="section-anchor" id="{{ block.anchor ?? block.id }}"></div>
	{% endif %}

	{% set pt = fields.padding_top and fields.padding_top != "unset" ? fields.padding_top : "st-lg" %}
	{% set pb = fields.padding_top and fields.padding_bottom != "unset" ? fields.padding_bottom : "sb-none" %}

	{% set items_per_page = 12 %}
	{% set has_posts = posts and posts|length %}

	<div class="{{ pt }} {{ pb }}">
		<div class="flex flex-col ~gap-[1rem]/[1.5rem]">
			{% if fields.heading %}
				<div class="container">
					{% if fields.heading %}
						<h2 class="block-heading alpha max-w-[45.375rem]">
							{{ fields.heading }}
						</h2>
					{% endif %}
				</div>
			{% endif %}

			<div class="flex flex-col">
				<div class="border-y-[1px] border-light-grey">
					<div class="container">
						<div class="flex justify-between items-center ~py-[0.5rem]/[0.75rem]">
                            {% if categories.parents|length or categories.non_parents|length %}
                                <div class="filter-btn flex cursor-pointer ~gap-[0.5rem]/[0.75rem] items-center">
                                    <svg class="h-[1.5rem] w-auto" width="24" height="25" viewbox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_8354_13337)">
                                            <path d="M23.5 2V23C23.5 23 23.5 24 22.5 24H1.5C1.5 24 0.5 24 0.5 23V2C0.5 2 0.5 1 1.5 1H22.5C22.5 1 23.5 1 23.5 2Z" stroke="#121212" stroke-opacity="0.75" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M11 12.5H19.5" stroke="#121212" stroke-opacity="0.75" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M4.5 12.5H7" stroke="#121212" stroke-opacity="0.75" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M9 10.5C8.46957 10.5 7.96086 10.7107 7.58579 11.0858C7.21071 11.4609 7 11.9696 7 12.5C7 13.0304 7.21071 13.5391 7.58579 13.9142C7.96086 14.2893 8.46957 14.5 9 14.5C9.53043 14.5 10.0391 14.2893 10.4142 13.9142C10.7893 13.5391 11 13.0304 11 12.5C11 11.9696 10.7893 11.4609 10.4142 11.0858C10.0391 10.7107 9.53043 10.5 9 10.5Z" stroke="#121212" stroke-opacity="0.75" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M12 7H4.5" stroke="#121212" stroke-opacity="0.75" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M19.5 7H16" stroke="#121212" stroke-opacity="0.75" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M14 5C13.4696 5 12.9609 5.21071 12.5858 5.58579C12.2107 5.96086 12 6.46957 12 7C12 7.53043 12.2107 8.03914 12.5858 8.41421C12.9609 8.78929 13.4696 9 14 9C14.5304 9 15.0391 8.78929 15.4142 8.41421C15.7893 8.03914 16 7.53043 16 7C16 6.46957 15.7893 5.96086 15.4142 5.58579C15.0391 5.21071 14.5304 5 14 5Z" stroke="#121212" stroke-opacity="0.75" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M12 18H4.5" stroke="#121212" stroke-opacity="0.75" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M19.5 18H16" stroke="#121212" stroke-opacity="0.75" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M14 16C13.4696 16 12.9609 16.2107 12.5858 16.5858C12.2107 16.9609 12 17.4696 12 18C12 18.5304 12.2107 19.0391 12.5858 19.4142C12.9609 19.7893 13.4696 20 14 20C14.5304 20 15.0391 19.7893 15.4142 19.4142C15.7893 19.0391 16 18.5304 16 18C16 17.4696 15.7893 16.9609 15.4142 16.5858C15.0391 16.2107 14.5304 16 14 16Z" stroke="#121212" stroke-opacity="0.75" stroke-linecap="round" stroke-linejoin="round"/>
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_8354_13337">
                                                <rect width="24" height="24" fill="white" transform="matrix(0 1 -1 0 24 0.5)"/>
                                            </clipPath>
                                        </defs>
                                    </svg>

                                    <p class="text-black-75">Filter</p>
                                </div>
                            {% endif %}

							<div class="search">
								<input type="text" placeholder="Search"/>
								<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M21.0008 21L16.8008 16.8M19 11C19 15.4183 15.4183 19 11 19C6.58172 19 3 15.4183 3 11C3 6.58172 6.58172 3 11 3C15.4183 3 19 6.58172 19 11Z" stroke="#121212" stroke-opacity="0.4" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
							</div>
						</div>

                        {% if categories.parents|length or categories.non_parents|length %}
                            <div class="filter-dd">
                                <div class="filter-dd-inner">
                                    <div class="flex flex-col ~gap-[1rem]/[1.5rem]">
                                        {% if categories.parents|length %}
                                            {% for index, item in categories.parents %}
                                                {% if item.children|length %}
                                                    <div class="filter-group">
                                                        <small class="text-rust-light">{{ item.category.name }}</small>

                                                        <div class="filter-children">
                                                            {% for index, child in item.children %}
                                                                <div class="filter-item">
                                                                    <input type="checkbox" value="{{ child.slug }}">
                                                                    <div class="filter-box">
                                                                        <svg width="10" height="7" viewbox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                            <path d="M8.03717 1.08949C8.31464 0.819127 8.76441 0.819127 9.04189 1.08949C9.31937 1.35986 9.31937 1.7981 9.04189 2.06847L4.30506 6.68391C4.04521 6.9371 3.62983 6.95551 3.34752 6.72628L0.50542 4.41856C0.204126 4.17375 0.163589 3.73686 0.414754 3.44319C0.665999 3.14961 1.11438 3.11012 1.41578 3.35484L3.75922 5.25691L8.03717 1.08949Z" fill="#FFF"/>
                                                                        </svg>
                                                                    </div>
                                                                    <p>{{ child.name }}</p>
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}

                                        {% if categories.non_parents|length %}
                                            <div class="filter-group">
                                                <div class="filter-children">
                                                    {% for index, item in categories.non_parents %}
                                                        <div class="filter-chkbox">
                                                            <input type="checkbox">
                                                            <div class="filter-box">
                                                                <svg width="10" height="7" viewbox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                    <path d="M8.03717 1.08949C8.31464 0.819127 8.76441 0.819127 9.04189 1.08949C9.31937 1.35986 9.31937 1.7981 9.04189 2.06847L4.30506 6.68391C4.04521 6.9371 3.62983 6.95551 3.34752 6.72628L0.50542 4.41856C0.204126 4.17375 0.163589 3.73686 0.414754 3.44319C0.665999 3.14961 1.11438 3.11012 1.41578 3.35484L3.75922 5.25691L8.03717 1.08949Z" fill="#FFF"/>
                                                                </svg>
                                                            </div>
                                                            <p>{{ item.category.name }}</p>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>

                                    <div class="flex items-center gap-[0.75rem] justify-end">
                                        <div class="btn bordered black reset">
                                            <p>Clear</p>
                                        </div>

                                        <div class="btn filled black apply">
                                            <p>Apply filter</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
					</div>
				</div>

				<div class="flex flex-col">
					{% if has_posts %}
						<div class="container no-pd">
							<div class="cards-container" data-per-page="{{ items_per_page }}">
								{% for post in posts %}
                                    {% set category_names = [] %}
                                    {% set category_raw = function('wp_get_post_terms', post.ID, 'solution-type') %}

                                    {% for category in category_raw %}
                                        {% set category_names = category_names | merge([category.slug]) %}
                                    {% endfor %}

									{% include 'components/card.twig' with {
                                        data: post,
                                        class: "listing-sol in-filter",
                                        show_desc: true,
                                        is_solution: true,
                                        is_on_grid: true,
                                        category_names: category_names,
                                    } %}
								{% endfor %}
							</div>
						</div>

						<div class="empty">
							<div class="container">
								<h6 class="text-center">We're sorry, there aren't any posts that match what you're searching for.
									<br/>Try another search term or reset to see our latest posts.</h6>
							</div>
						</div>

						<div class="load-more border-y-[1px] border-b-light-grey">
							<div class="container">
								<div class="py-[1.5rem] flex justify-center">
									<div class="btn bordered black has-arrow">
										<p>Load more</p>

										<div class="btn-arrow">
											<svg width="10" height="10" viewbox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M10 4.99946L4.99946 10L3.82882 8.82936L6.83087 5.82731H0V4.17161H6.83087L3.82882 1.17064L4.99946 0L10 4.99946Z" fill="#8BFFF7"/>
											</svg>
										</div>
									</div>
								</div>
							</div>
						</div>
					{% else %}
						<div class="empty active">
							<div class="container">
								<h6 class="text-center">There aren't any posts here just yet.
									<br/>Check back soon for updates.</h6>
							</div>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</section>

