{% set theme = override_nav_theme and nav_theme ? nav_theme %}

<header>
	<nav class="nav {{ theme }}">
		<div class="nav__outer">
			<div class="container">
				<div class="nav__inner">
					<a href="{{ function('home_url') }}" class="nav__logo">
						<svg width="243" height="27" viewbox="0 0 243 27" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M19.8429 20.2104H9.30393C7.96597 20.2104 6.73093 19.9772 5.59882 19.5106C4.45984 19.044 3.47868 18.3853 2.64846 17.5482C1.81825 16.7043 1.16641 15.7094 0.699846 14.5567C0.233277 13.404 0 12.1415 0 10.7693C0 9.39702 0.233277 8.13453 0.699846 6.98183C1.16641 5.82913 1.81825 4.83424 2.64846 3.9903C3.47868 3.14636 4.4667 2.49454 5.59882 2.02797C6.73779 1.5614 7.97283 1.32812 9.30393 1.32812C10.635 1.32812 11.8495 1.5614 12.9816 2.02797C14.1206 2.49454 15.1017 3.15322 15.932 3.9903C16.7622 4.83424 17.414 5.82913 17.8806 6.98183C18.3471 8.13453 18.5804 9.39702 18.5804 10.7693C18.5804 12.4366 18.2374 13.9323 17.5512 15.2566C16.8651 16.5808 15.7673 17.6443 14.2578 18.4402V18.4951H19.8223V20.2104H19.8429ZM2.02408 10.7693C2.02408 11.7916 2.18876 12.7659 2.5181 13.6991C2.84744 14.6253 3.32773 15.4487 3.95211 16.1554C4.57649 16.869 5.33809 17.4316 6.24378 17.857C7.14261 18.2824 8.17181 18.4951 9.31079 18.4951C10.4498 18.4951 11.4515 18.2824 12.3572 17.857C13.256 17.4316 14.0245 16.8621 14.6489 16.1554C15.2733 15.4418 15.7536 14.6253 16.0829 13.6991C16.4122 12.7728 16.5769 11.7985 16.5769 10.7693C16.5769 9.74008 16.4122 8.77263 16.0829 7.8395C15.7536 6.91322 15.2733 6.08986 14.6489 5.38315C14.0245 4.66957 13.2629 4.10695 12.3572 3.68155C11.4584 3.25615 10.4429 3.04345 9.31079 3.04345C8.17867 3.04345 7.14261 3.25615 6.24378 3.68155C5.34495 4.10695 4.57649 4.67643 3.95211 5.38315C3.32773 6.09672 2.84744 6.91322 2.5181 7.8395C2.18876 8.76577 2.02408 9.74008 2.02408 10.7693Z" fill="#838786"/>
							<path d="M31.5757 20.2105C31.5414 19.8812 31.5208 19.5587 31.514 19.2362C31.5071 18.9137 31.5002 18.5913 31.5002 18.2619H31.4453C31.2532 18.5913 31.0131 18.8931 30.718 19.1745C30.423 19.4489 30.0937 19.6891 29.73 19.888C29.3664 20.087 28.9821 20.2448 28.5705 20.3546C28.1656 20.4644 27.7608 20.5261 27.3629 20.5261C25.8054 20.5261 24.6458 20.1145 23.9048 19.2911C23.1569 18.4678 22.7864 17.2945 22.7864 15.7644V8.03857H24.5017V14.7764C24.5017 15.4556 24.5566 16.0526 24.6595 16.574C24.7624 17.0955 24.9408 17.5346 25.1947 17.8846C25.4486 18.2413 25.7848 18.5089 26.2102 18.6942C26.6356 18.8794 27.1708 18.9686 27.8089 18.9686C27.8981 18.9686 28.1382 18.9343 28.5362 18.8657C28.9341 18.7971 29.3526 18.605 29.7986 18.2962C30.2378 17.9875 30.6357 17.514 30.9856 16.8897C31.3287 16.2653 31.5071 15.4007 31.5071 14.2892V8.04543H33.2224V17.5415C33.2224 17.8708 33.2361 18.2894 33.2636 18.7902C33.291 19.2911 33.3185 19.7714 33.3528 20.2242H31.5826L31.5757 20.2105Z" fill="#838786"/>
							<path d="M45.2778 12.7453V12.4366C45.2778 10.337 44.2349 9.28726 42.1559 9.28726C40.7356 9.28726 39.4937 9.76754 38.437 10.7213L37.3941 9.49995C38.54 8.31981 40.2553 7.72974 42.547 7.72974C43.1371 7.72974 43.7065 7.81894 44.2486 7.99047C44.7906 8.162 45.264 8.4296 45.6689 8.78638C46.0668 9.14317 46.3893 9.58915 46.6294 10.1243C46.8696 10.6595 46.9931 11.3045 46.9931 12.0524V17.4865C46.9931 17.9531 47.0137 18.4471 47.0548 18.9548C47.096 19.4694 47.1441 19.888 47.1989 20.2173H45.5316C45.4767 19.9223 45.4424 19.5998 45.415 19.2567C45.3876 18.9068 45.3738 18.5706 45.3738 18.2413H45.3189C44.8181 19.0578 44.2211 19.641 43.535 19.9978C42.8489 20.3545 42.0118 20.5329 41.0238 20.5329C40.4886 20.5329 39.9671 20.4575 39.4662 20.3134C38.9654 20.1693 38.5194 19.9429 38.1283 19.6341C37.7372 19.3322 37.4284 18.9548 37.1951 18.5157C36.9619 18.0766 36.8452 17.5551 36.8452 16.965C36.8452 15.977 37.0991 15.2017 37.6137 14.6391C38.1283 14.0764 38.7664 13.6579 39.5417 13.3766C40.3102 13.1021 41.1404 12.9237 42.0118 12.8551C42.89 12.7865 43.6928 12.7522 44.4201 12.7522H45.2778V12.7453ZM44.3926 14.1451C43.9604 14.1451 43.4183 14.1656 42.7665 14.2068C42.1147 14.248 41.4903 14.3578 40.8934 14.5156C40.2965 14.6802 39.7819 14.9341 39.3565 15.284C38.9311 15.634 38.7184 16.1074 38.7184 16.7181C38.7184 17.116 38.8007 17.4591 38.9654 17.7472C39.13 18.0354 39.3496 18.2687 39.6309 18.4471C39.9054 18.6323 40.2141 18.7559 40.5572 18.8382C40.8934 18.9137 41.2365 18.9548 41.5864 18.9548C42.2108 18.9548 42.7528 18.8519 43.2125 18.6461C43.6722 18.4402 44.0564 18.1589 44.3721 17.8021C44.6808 17.4453 44.9141 17.0337 45.0582 16.5534C45.2023 16.08 45.2778 15.5722 45.2778 15.0302V14.1451H44.3926Z" fill="#838786"/>
							<path d="M52.9418 8.03168C52.9761 8.36102 52.9967 8.6835 53.0104 9.00598C53.0173 9.32846 53.0242 9.65094 53.0242 9.98029H53.079C53.2712 9.65094 53.5113 9.34906 53.8063 9.06774C54.1014 8.79329 54.4307 8.55314 54.7944 8.35416C55.158 8.15518 55.5423 7.99738 55.9539 7.8876C56.3587 7.77782 56.7636 7.71606 57.1615 7.71606C58.719 7.71606 59.8786 8.12773 60.6196 8.95109C61.3675 9.77445 61.738 10.9477 61.738 12.4778V20.2036H60.0227V13.4658C60.0227 12.1142 59.7894 11.0781 59.3228 10.3577C58.8563 9.63722 57.9849 9.28044 56.7224 9.28044C56.6332 9.28044 56.3931 9.31474 55.9951 9.38336C55.5971 9.45197 55.1786 9.64409 54.7326 9.95285C54.2935 10.2685 53.8956 10.735 53.5456 11.3594C53.1957 11.9838 53.0242 12.8483 53.0242 13.9599V20.2036H51.3088V10.7076C51.3088 10.3783 51.2951 9.95971 51.2677 9.45883C51.2402 8.95796 51.2128 8.47767 51.1785 8.02482H52.9487L52.9418 8.03168Z" fill="#838786"/>
							<path d="M72.2359 9.5961H68.7229V16.7799C68.7229 17.2327 68.7641 17.5964 68.8533 17.8846C68.9424 18.1727 69.0591 18.3923 69.2169 18.5501C69.3747 18.7079 69.56 18.8177 69.7795 18.8726C69.9991 18.9344 70.2324 18.9618 70.4931 18.9618C70.7881 18.9618 71.09 18.9206 71.4057 18.8314C71.7144 18.7422 72.0026 18.6324 72.2633 18.4952L72.3388 20.0802C71.6938 20.3752 70.9254 20.5193 70.0265 20.5193C69.6972 20.5193 69.3541 20.4781 68.9973 20.3889C68.6405 20.2997 68.3181 20.1351 68.023 19.8949C67.728 19.6548 67.4878 19.3254 67.2957 18.9069C67.1036 18.4884 67.0076 17.9463 67.0076 17.267V9.58925H64.4346V8.03173H67.0076V4.60107H68.7229V8.03173H72.2359V9.58925V9.5961Z" fill="#838786"/>
							<path d="M83.8521 20.2105C83.8178 19.8812 83.7972 19.5587 83.7903 19.2362C83.7835 18.9137 83.7766 18.5913 83.7766 18.2619H83.7217C83.5296 18.5913 83.2894 18.8931 82.9944 19.1745C82.6994 19.4489 82.37 19.6891 82.0064 19.888C81.6427 20.087 81.2585 20.2448 80.8468 20.3546C80.442 20.4644 80.0372 20.5261 79.6392 20.5261C78.0817 20.5261 76.9222 20.1145 76.1811 19.2911C75.4333 18.4678 75.0627 17.2945 75.0627 15.7644V8.03857H76.7781V14.7764C76.7781 15.4556 76.833 16.0526 76.9359 16.574C77.0388 17.0955 77.2172 17.5346 77.4711 17.8846C77.7249 18.2413 78.0611 18.5089 78.4865 18.6942C78.9119 18.8794 79.4471 18.9686 80.0852 18.9686C80.1744 18.9686 80.4146 18.9343 80.8125 18.8657C81.2105 18.7971 81.629 18.605 82.075 18.2962C82.5141 17.9875 82.9121 17.514 83.262 16.8897C83.6051 16.2653 83.7835 15.4007 83.7835 14.2892V8.04543H85.4988V17.5415C85.4988 17.8708 85.5125 18.2894 85.5399 18.7902C85.5674 19.2911 85.5948 19.7714 85.6291 20.2242H83.8589L83.8521 20.2105Z" fill="#838786"/>
							<path d="M89.8899 10.7419C89.8899 10.289 89.8761 9.84305 89.8487 9.3902C89.8213 8.93736 89.7938 8.49137 89.7595 8.03853H91.6052V9.88421H91.6601C92.0786 9.17063 92.655 8.63546 93.3891 8.27181C94.1233 7.90816 94.8575 7.7229 95.5848 7.7229C95.9141 7.7229 96.264 7.7572 96.6414 7.82582C97.0119 7.89443 97.3756 8.01793 97.7186 8.20319C98.0617 8.38844 98.391 8.64232 98.6929 8.97166C98.9948 9.30101 99.2556 9.72641 99.4614 10.2479C99.8113 9.46568 100.36 8.85502 101.115 8.40217C101.87 7.94933 102.652 7.7229 103.468 7.7229C105.026 7.7229 106.185 8.13458 106.926 8.95794C107.674 9.78129 108.045 10.9546 108.045 12.4846V20.2105H106.33V13.109C106.33 11.8808 106.11 10.934 105.678 10.2753C105.245 9.61662 104.436 9.28728 103.256 9.28728C102.611 9.28728 102.076 9.41078 101.643 9.66465C101.211 9.91852 100.861 10.2479 100.587 10.6664C100.312 11.0849 100.12 11.5584 100.003 12.0867C99.8799 12.615 99.8182 13.1639 99.8182 13.7403V20.2173H98.1029V13.1159C98.1029 11.8877 97.8833 10.9408 97.451 10.2822C97.0188 9.62348 96.2091 9.29413 95.029 9.29413C94.9261 9.29413 94.6859 9.32845 94.3154 9.39706C93.9449 9.46567 93.5538 9.65779 93.1559 9.96655C92.7579 10.2822 92.3942 10.7487 92.0786 11.3731C91.7561 11.9975 91.5983 12.862 91.5983 13.9735V20.2173H89.883V10.7487L89.8899 10.7419Z" fill="#838786"/>
							<path d="M159.224 17.2945C158.908 17.761 158.524 18.207 158.064 18.6187C157.604 19.0372 157.076 19.394 156.493 19.6959C155.903 19.9978 155.265 20.238 154.578 20.4095C153.892 20.581 153.172 20.6702 152.403 20.6702C151.031 20.6702 149.762 20.4301 148.595 19.9429C147.429 19.4558 146.413 18.7834 145.549 17.9257C144.684 17.068 144.019 16.0457 143.532 14.8656C143.045 13.6854 142.804 12.3955 142.804 10.9889C142.804 9.58235 143.045 8.29243 143.532 7.11229C144.019 5.93214 144.691 4.91666 145.549 4.05214C146.407 3.19448 147.422 2.52208 148.595 2.03492C149.769 1.54777 151.038 1.30762 152.403 1.30762C153.549 1.30762 154.695 1.53404 155.841 1.98689C156.987 2.43974 157.968 3.18075 158.778 4.22367L157.138 5.44499C156.946 5.14996 156.685 4.85492 156.356 4.55988C156.026 4.26484 155.649 4.00411 155.223 3.77769C154.798 3.55127 154.345 3.37287 153.858 3.22878C153.371 3.09156 152.884 3.02294 152.403 3.02294C151.223 3.02294 150.167 3.24251 149.227 3.67478C148.287 4.10704 147.498 4.69024 146.846 5.41754C146.194 6.14484 145.693 6.98878 145.35 7.95622C145 8.91681 144.829 9.93228 144.829 10.9889C144.829 12.0456 145 13.0542 145.35 14.0216C145.693 14.9822 146.194 15.833 146.846 16.5603C147.498 17.2876 148.287 17.8708 149.227 18.3031C150.167 18.7353 151.223 18.9549 152.403 18.9549C152.891 18.9549 153.371 18.9137 153.844 18.8245C154.318 18.7353 154.791 18.5912 155.251 18.3854C155.711 18.1796 156.143 17.8983 156.554 17.5415C156.959 17.1847 157.337 16.7387 157.687 16.2035L159.224 17.2945Z" fill="#155086"/>
							<path d="M161.769 0.539062H163.484V9.98021H163.539C163.731 9.65087 163.972 9.34898 164.267 9.06767C164.562 8.78636 164.891 8.55307 165.255 8.35409C165.618 8.15511 166.002 7.99731 166.414 7.88752C166.819 7.77774 167.224 7.71599 167.622 7.71599C169.179 7.71599 170.339 8.12766 171.08 8.95102C171.828 9.77437 172.198 10.9477 172.198 12.4777V20.2036H170.483V13.4658C170.483 12.1141 170.25 11.078 169.783 10.3576C169.316 9.63715 168.445 9.28037 167.183 9.28037C167.093 9.28037 166.853 9.31467 166.455 9.38328C166.057 9.4519 165.632 9.64401 165.193 9.95277C164.754 10.2684 164.356 10.735 164.006 11.3593C163.656 11.9837 163.484 12.8483 163.484 13.9598V20.2036H161.769V0.539062Z" fill="#155086"/>
							<path d="M183.842 12.7453V12.4366C183.842 10.337 182.799 9.28726 180.72 9.28726C179.3 9.28726 178.058 9.76754 177.001 10.7213L175.958 9.49995C177.104 8.31981 178.82 7.72974 181.111 7.72974C181.701 7.72974 182.271 7.81894 182.813 7.99047C183.362 8.162 183.828 8.4296 184.233 8.78638C184.631 9.14317 184.954 9.58915 185.194 10.1243C185.434 10.6595 185.557 11.3045 185.557 12.0524V17.4865C185.557 17.9531 185.578 18.4471 185.619 18.9548C185.66 19.4694 185.708 19.888 185.763 20.2173H184.096C184.041 19.9223 184.007 19.5998 183.979 19.2567C183.952 18.9068 183.938 18.5706 183.938 18.2413H183.883C183.382 19.0578 182.785 19.641 182.099 19.9978C181.413 20.3545 180.576 20.5329 179.588 20.5329C179.053 20.5329 178.531 20.4575 178.03 20.3134C177.53 20.1693 177.084 19.9429 176.693 19.6341C176.301 19.3322 175.993 18.9548 175.753 18.5157C175.519 18.0766 175.403 17.5551 175.403 16.965C175.403 15.977 175.656 15.2017 176.171 14.6391C176.686 14.0764 177.324 13.6579 178.099 13.3766C178.874 13.1021 179.698 12.9237 180.569 12.8551C181.447 12.7865 182.25 12.7522 182.977 12.7522H183.835L183.842 12.7453ZM182.957 14.1451C182.525 14.1451 181.983 14.1656 181.331 14.2068C180.679 14.248 180.055 14.3578 179.458 14.5156C178.861 14.6802 178.346 14.9341 177.921 15.284C177.495 15.634 177.283 16.1074 177.283 16.7181C177.283 17.116 177.365 17.4591 177.53 17.7472C177.694 18.0354 177.914 18.2687 178.195 18.4471C178.47 18.6323 178.778 18.7559 179.121 18.8382C179.458 18.9137 179.801 18.9548 180.151 18.9548C180.775 18.9548 181.317 18.8519 181.777 18.6461C182.236 18.4402 182.621 18.1589 182.936 17.8021C183.252 17.4453 183.478 17.0337 183.622 16.5534C183.767 16.08 183.842 15.5722 183.842 15.0302V14.1451H182.957Z" fill="#155086"/>
							<path d="M191.142 8.03168C191.177 8.36102 191.197 8.6835 191.204 9.00598C191.211 9.32846 191.218 9.65094 191.218 9.98029H191.273C191.465 9.65094 191.705 9.34906 192 9.06774C192.295 8.78643 192.624 8.55314 192.988 8.35416C193.352 8.15518 193.736 7.99738 194.148 7.8876C194.552 7.77782 194.957 7.71606 195.355 7.71606C196.913 7.71606 198.072 8.12773 198.813 8.95109C199.561 9.77445 199.932 10.9477 199.932 12.4778V20.2036H198.216V13.4658C198.216 12.1142 197.983 11.0781 197.516 10.3577C197.05 9.63722 196.178 9.28044 194.916 9.28044C194.827 9.28044 194.587 9.31474 194.189 9.38336C193.791 9.45197 193.365 9.64409 192.926 9.95285C192.487 10.2685 192.089 10.735 191.739 11.3594C191.389 11.9838 191.218 12.8483 191.218 13.9599V20.2036H189.502V10.7076C189.502 10.3783 189.489 9.95971 189.461 9.45883C189.434 8.95796 189.406 8.47767 189.372 8.02482H191.142V8.03168Z" fill="#155086"/>
							<path d="M204.755 22.6531C205.256 23.3323 205.915 23.8744 206.717 24.2792C207.527 24.684 208.419 24.8899 209.407 24.8899C210.272 24.8899 211.013 24.7595 211.616 24.5125C212.22 24.2586 212.714 23.9155 213.085 23.4833C213.455 23.051 213.73 22.5433 213.894 21.9601C214.059 21.3769 214.141 20.7594 214.141 20.1007V17.9188H214.086C213.531 18.749 212.858 19.3391 212.056 19.689C211.26 20.0389 210.416 20.2105 209.531 20.2105C208.645 20.2105 207.815 20.0526 207.047 19.7439C206.271 19.4351 205.606 19.0029 205.03 18.454C204.453 17.9051 204.007 17.2532 203.678 16.4916C203.348 15.73 203.184 14.9067 203.184 14.0216C203.184 13.1365 203.342 12.3131 203.65 11.5515C203.966 10.7899 204.391 10.1175 204.94 9.54799C205.489 8.9785 206.134 8.53252 206.889 8.21004C207.644 7.88755 208.474 7.72974 209.373 7.72974C209.736 7.72974 210.121 7.76405 210.532 7.83266C210.937 7.90128 211.349 8.02478 211.754 8.19631C212.158 8.36784 212.563 8.60798 212.961 8.90988C213.359 9.21178 213.73 9.59601 214.08 10.0694H214.134V8.0385H215.85V20.1075C215.85 20.7662 215.767 21.4661 215.603 22.214C215.438 22.9618 215.116 23.648 214.642 24.2724C214.162 24.8967 213.503 25.4182 212.652 25.8367C211.802 26.2553 210.69 26.4611 209.325 26.4611C208.11 26.4611 207.026 26.2621 206.072 25.8642C205.119 25.4662 204.254 24.8487 203.472 24.0185L204.748 22.6668L204.755 22.6531ZM205.071 13.9667C205.071 14.6116 205.187 15.2086 205.421 15.7781C205.654 16.3407 205.976 16.8347 206.381 17.2601C206.786 17.6855 207.266 18.0217 207.815 18.2756C208.364 18.5294 208.954 18.6529 209.599 18.6529C210.244 18.6529 210.82 18.5431 211.383 18.3167C211.946 18.0903 212.447 17.7747 212.879 17.3699C213.311 16.9651 213.647 16.471 213.881 15.9016C214.114 15.3321 214.224 14.6871 214.203 13.9735C214.203 13.3354 214.1 12.7316 213.887 12.1621C213.682 11.5995 213.373 11.1055 212.975 10.6801C212.577 10.2547 212.09 9.9185 211.52 9.66463C210.951 9.41076 210.306 9.28726 209.592 9.28726C208.947 9.28726 208.357 9.41076 207.808 9.66463C207.259 9.9185 206.786 10.2547 206.374 10.6801C205.97 11.1055 205.647 11.5995 205.414 12.1621C205.18 12.7248 205.064 13.3286 205.064 13.9735L205.071 13.9667Z" fill="#155086"/>
							<path d="M220.941 14.5911C220.996 15.2017 221.14 15.7712 221.38 16.3064C221.62 16.8416 221.943 17.3082 222.341 17.6993C222.739 18.0903 223.198 18.3991 223.72 18.6255C224.241 18.852 224.804 18.9617 225.408 18.9617C226.327 18.9617 227.123 18.749 227.789 18.3236C228.454 17.8982 228.962 17.4111 229.312 16.8553L230.636 17.9463C229.909 18.8657 229.106 19.5244 228.228 19.9223C227.35 20.3203 226.41 20.5193 225.408 20.5193C224.509 20.5193 223.672 20.3614 222.897 20.039C222.121 19.7165 221.463 19.2705 220.907 18.701C220.351 18.1315 219.912 17.4522 219.596 16.6701C219.274 15.8879 219.116 15.0371 219.116 14.1177C219.116 13.1982 219.274 12.3474 219.583 11.5653C219.898 10.7831 220.33 10.1107 220.886 9.53431C221.442 8.96482 222.094 8.51884 222.835 8.19635C223.583 7.87387 224.385 7.71606 225.257 7.71606C226.176 7.71606 227 7.88074 227.727 8.21008C228.454 8.53942 229.065 8.97854 229.559 9.52058C230.053 10.0626 230.43 10.7076 230.691 11.4486C230.952 12.1896 231.082 12.9718 231.082 13.802V14.5842H220.934L220.941 14.5911ZM229.216 13.1845C229.216 12.025 228.866 11.085 228.173 10.3645C227.48 9.64409 226.506 9.2873 225.257 9.2873C224.701 9.2873 224.166 9.39708 223.644 9.60978C223.123 9.82248 222.67 10.1175 222.279 10.4812C221.888 10.8448 221.579 11.2634 221.339 11.7299C221.099 12.1965 220.989 12.6837 220.989 13.1845H229.209H229.216Z" fill="#155086"/>
							<path d="M119.723 1.32812H114.584L121.26 10.7693L114.584 20.2104H119.723L126.399 10.7693L119.723 1.32812Z" fill="#838786"/>
							<path d="M133.082 1.32812H138.221L131.545 10.7693L138.221 20.2104H133.082L126.399 10.7693L133.082 1.32812Z" fill="#155086"/>
							<path d="M236.427 11.3112C236.427 10.8584 236.516 10.433 236.688 10.035C236.859 9.63706 237.099 9.28714 237.394 8.9921C237.689 8.69707 238.039 8.45692 238.437 8.28539C238.835 8.11386 239.261 8.02466 239.714 8.02466C240.166 8.02466 240.592 8.11386 240.99 8.28539C241.388 8.45692 241.738 8.69707 242.033 8.9921C242.328 9.28714 242.568 9.63706 242.739 10.035C242.911 10.433 243 10.8584 243 11.3112C243 11.7641 242.911 12.1895 242.739 12.5874C242.568 12.9854 242.328 13.3353 242.033 13.6303C241.738 13.9254 241.388 14.1655 240.99 14.3371C240.592 14.5086 240.166 14.5978 239.714 14.5978C239.261 14.5978 238.835 14.5086 238.437 14.3371C238.039 14.1655 237.689 13.9254 237.394 13.6303C237.099 13.3353 236.859 12.9854 236.688 12.5874C236.516 12.1895 236.427 11.7641 236.427 11.3112ZM236.907 11.3112C236.907 11.7023 236.983 12.066 237.127 12.409C237.278 12.7521 237.477 13.0471 237.731 13.301C237.984 13.5549 238.28 13.7538 238.623 13.9048C238.966 14.0489 239.329 14.1244 239.72 14.1244C240.112 14.1244 240.475 14.0489 240.818 13.9048C241.161 13.7607 241.456 13.5549 241.71 13.301C241.964 13.0471 242.163 12.7521 242.314 12.409C242.465 12.066 242.534 11.7023 242.534 11.3112C242.534 10.9201 242.458 10.5565 242.314 10.2134C242.17 9.87035 241.964 9.57531 241.71 9.32144C241.456 9.06758 241.161 8.86859 240.818 8.71765C240.475 8.57356 240.112 8.49809 239.72 8.49809C239.329 8.49809 238.966 8.57356 238.623 8.71765C238.28 8.86173 237.984 9.06758 237.731 9.32144C237.477 9.57531 237.278 9.87035 237.127 10.2134C236.983 10.5565 236.907 10.9201 236.907 11.3112ZM239 13.1912H238.52V9.39692H239.981C240.413 9.39692 240.722 9.48612 240.901 9.66451C241.079 9.8429 241.175 10.1036 241.175 10.4467C241.175 10.6251 241.148 10.776 241.1 10.8995C241.052 11.0231 240.983 11.126 240.894 11.2152C240.804 11.2975 240.702 11.3661 240.592 11.421C240.475 11.469 240.352 11.5102 240.221 11.5308L241.353 13.1912H240.811L239.679 11.5308H239V13.1912ZM239 11.1054H239.611C239.741 11.1054 239.871 11.1054 240.002 11.0917C240.132 11.0848 240.249 11.0573 240.352 11.0093C240.455 10.9682 240.537 10.8995 240.606 10.8172C240.674 10.7349 240.702 10.6114 240.702 10.4467C240.702 10.3232 240.674 10.2203 240.626 10.1448C240.578 10.0625 240.509 10.0007 240.434 9.95268C240.352 9.90465 240.262 9.87035 240.16 9.84977C240.057 9.82918 239.954 9.81546 239.851 9.81546H239V11.0985V11.1054Z" fill="#155086"/>
						</svg>
					</a>

					<div class="nav__burger"></div>

					{% if header_nav_item %}
						<div class="nav__panel">
							<div class="nav__items">
								{% for nav_item in header_nav_item %}
									{% set nav_index = loop.index %}

									{% if not nav_item.is_cta %}
										{% if nav_item.is_parent %}
											<div class="nav__item parent">
												<div class="nav__item-inner">
													<p class="button">{{ nav_item.name }}</p>

													<svg width="24" height="25" viewbox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M18 9.5L12 15.5L6 9.5" stroke="white" stroke-opacity="0.75"/>
													</svg>
												</div>

												{% if nav_item.is_parent %}
													{% set nav_groups = nav_item.nav_group %}

													<div class="nav__dd">
														<div class="nav__dd-inner">
															{% if nav_groups|length %}
																<div class="nav__dd-group-content {{ nav_groups|length > 2 ? " is-special" }}">
																	<div class="nav__dd-groups">
																		{% for group in nav_groups %}
																			{% set nav_group_index = loop.index %}

																			<div class="nav__dd-group">
																				{% if group.name %}
																					<small>{{ group.name }}</small>
																				{% endif %}

																				{% if group.links|length %}
																					{% for child in group.links %}
																						{% set child_index = loop.index %}

																						{% if child.link %}
																							{% set link_url = child.link.url ?: "#" %}
																							{% set link_title = child.link.title %}
																							{% set link_target = child.link.target ?: "_self" %}
																							{% set has_image = group.has_featured_images and child.feature_image %}

																							<a class="nav__dd-group-link orby w-fit {{ has_image ? " hoverable" }}" href="{{ link_url }}" target="{{ link_target }}" {{ has_image ? 'data-image-index="' ~ nav_index ~ nav_group_index ~ child_index ~ '"' }}>
																								<p class="lg">{{ link_title }}</p>
																							</a>
																						{% endif %}
																					{% endfor %}
																				{% endif %}
																			</div>
																		{% endfor %}
																	</div>

																	{% if bottom_link %}
																		{% set link_url = bottom_link.url ?: "#" %}
																		{% set link_title = bottom_link.title %}
																		{% set link_target = bottom_link.target ?: "_self" %}

																		<div class="nav__dd-blink">
																			<a class="orby" href="{{ link_url }}" target="{{ link_target }}">
																				<p class="lg">{{ link_title }}</p>
																			</a>
																		</div>
																	{% endif %}
																</div>
															{% endif %}
														</div>
													</div>
												{% endif %}
											</div>
										{% else %}
											{% if nav_item.link %}
												{% set link_url = nav_item.link.url ?: "#" %}
												{% set link_title = nav_item.link.title %}
												{% set link_target = nav_item.link.target ?: "_self" %}

												<a class="nav__item" href="{{ link_url }}" target="{{ link_target }}">
													<div class="nav__item-inner">
														<p class="button">{{ link_title }}</p>
													</div>
												</a>
											{% endif %}
										{% endif %}
									{% endif %}
								{% endfor %}
							</div>

							<div class="nav__actions">
								{% for nav_item in header_nav_item %}
									{% if nav_item.is_cta and nav_item.link %}
                                        {% set link_url = nav_item.link.url ?: "#" %}
                                        {% set link_title = nav_item.link.title %}
                                        {% set link_target = nav_item.link.target ?: "_self" %}

                                        {% include 'components/cta.twig' with {
                                            class : 'navi',
                                            cta: nav_item.link
                                        } %}
									{% endif %}
								{% endfor %}
							</div>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</nav>

	<div class="nav__space"></div>
</header>
