<footer class="footer">
	<div class="container">
		<div class="footer__inner">
			<div class="footer__grid">
				<a href="{{ function('home_url') }}" class="footer__logo">
					<svg width="162" height="31" viewbox="0 0 162 31" fill="none" xmlns="http://www.w3.org/2000/svg">
						<mask id="mask0_8328_2172" style="mask-type:luminance" maskunits="userSpaceOnUse" x="0" y="0" width="162" height="31">
							<path d="M162 0.411133H0V30.2612H162V0.411133Z" fill="white"/>
						</mask>
						<g mask="url(#mask0_8328_2172)">
							<path d="M89.1109 7.0625C83.1701 7.0625 78.2086 11.248 78.2086 17.1207C78.2086 17.7047 78.2412 18.2563 78.3392 18.7754C77.7516 17.3802 76.4133 15.8553 73.5735 15.3037C70.5378 14.6872 66.0986 14.3628 66.0986 12.5458C66.0986 11.2156 67.8612 11.1182 68.9384 11.1182C69.7544 11.1182 70.5052 11.248 71.0274 11.6049C71.3212 11.7996 71.5497 12.0267 71.7129 12.3511C71.974 12.9352 72.6269 13.2596 73.2471 13.2596H77.9801C77.7516 8.29544 73.1165 7.0625 68.6773 7.0625C64.7276 7.0625 59.4723 8.32788 59.4723 12.9027C59.4723 18.0616 64.695 18.1589 68.8405 19.1647C70.0156 19.4243 72.072 19.7163 72.072 21.1764C72.072 22.6364 70.244 23.188 68.971 23.188C68.0244 23.188 67.1431 22.9609 66.5229 22.5391C66.1312 22.2795 65.8374 21.9226 65.6416 21.5008C65.3478 20.8519 64.7929 20.3977 64.0748 20.3977H59.1133C59.3091 25.7188 64.2054 27.2437 69.0037 27.2437C73.802 27.2437 78.6656 25.5565 78.6982 20.4301C80.0039 24.7779 83.9535 27.2437 89.2741 27.2437C93.7786 27.2437 98.0873 25.3294 99.295 20.9168H93.6154C93.3216 20.9168 93.0605 21.0466 92.8973 21.3062C92.1792 22.4418 90.7756 23.0258 89.3394 23.0258C86.5322 23.0258 84.9327 21.3062 84.8348 18.6781H99.6541C99.9479 12.1889 96.3246 7.0625 89.1109 7.0625ZM84.8348 15.1739C85.2265 12.8378 86.7933 11.2804 89.1109 11.2804C91.4284 11.2804 92.9299 13.0325 93.0279 15.1739H84.8348ZM110.915 7.0625C104.975 7.0625 100.013 11.248 100.013 17.1207C100.013 23.5125 104.485 27.2762 111.046 27.2762C115.551 27.2762 119.859 25.3619 121.067 20.9493H115.387C115.094 20.9493 114.832 21.079 114.669 21.3386C113.951 22.4742 112.547 23.0582 111.111 23.0582C108.304 23.0582 106.705 21.3386 106.607 18.7105H121.426C121.752 12.1889 118.129 7.0625 110.915 7.0625ZM106.639 15.1739C107.031 12.8378 108.598 11.2804 110.915 11.2804C113.233 11.2804 114.734 13.0325 114.832 15.1739H106.639ZM156.842 7.38696V10.2422C156.842 11.6049 155.7 12.7405 154.361 12.7081H154.329C151.065 12.7081 149.367 14.8495 149.367 17.218V26.6921H136.539C135.69 26.6921 134.907 26.2704 134.45 25.5565L130.239 19.0025L128.966 20.1706C128.672 20.4301 128.509 20.8195 128.509 21.2088V26.6921H121.916V0.411133H128.509V13.941L134.483 7.61408H142.153L135.299 14.3303C135.005 14.6223 134.94 15.109 135.201 15.4335L142.708 26.173V7.61408H149.139V10.956H149.204C150.183 8.52256 152.435 7.22473 155.275 7.22473C155.765 7.22473 156.32 7.25718 156.842 7.38696Z" fill="white"/>
							<path d="M51.0514 1.31934C51.0514 7.06222 51.0514 9.91745 49.2561 11.702C47.4608 13.4865 44.5884 13.4865 38.8108 13.4865H9.62926C9.62926 6.77021 15.113 1.31934 21.8698 1.31934H51.0514ZM1.79529 19.6187C0 21.4032 0 24.2584 0 30.0013H29.1815C35.9383 30.0013 41.4221 24.5505 41.4221 17.8342H12.2406C6.46303 17.8342 3.59057 17.8342 1.79529 19.6187Z" fill="white"/>
							<path d="M160.172 7.41992C161.184 7.41992 162 8.23106 162 9.23688C162 10.2427 161.184 11.0538 160.172 11.0538C159.16 11.0538 158.344 10.2427 158.344 9.23688C158.344 8.23106 159.16 7.41992 160.172 7.41992ZM160.172 7.80927C159.356 7.80927 158.703 8.45818 158.703 9.26933C158.703 10.0805 159.356 10.7294 160.172 10.7294C160.988 10.7294 161.641 10.0805 161.641 9.26933C161.641 8.45818 160.988 7.80927 160.172 7.80927Z" fill="white"/>
							<path d="M159.388 8.2627H160.172C160.302 8.2627 160.465 8.2627 160.596 8.32759C160.792 8.39248 160.89 8.55471 160.89 8.74938C160.89 8.84672 160.89 8.94406 160.857 9.00895C160.792 9.13873 160.694 9.23607 160.563 9.26851H160.531C160.661 9.30096 160.759 9.3983 160.824 9.52808C160.922 9.69031 161.02 9.88498 161.086 10.0472C161.118 10.0797 161.118 10.1121 161.151 10.1445H160.661C160.629 10.1445 160.629 10.1445 160.629 10.1121C160.563 9.94987 160.465 9.78764 160.4 9.62542C160.4 9.59297 160.367 9.56052 160.335 9.52808C160.27 9.43074 160.204 9.39829 160.106 9.39829H159.91V10.1121H159.421C159.388 9.52808 159.388 8.91161 159.388 8.2627ZM159.878 9.10628H160.204C160.302 9.10628 160.367 9.04139 160.367 8.94406V8.78183C160.335 8.68449 160.302 8.65204 160.204 8.6196C160.106 8.58715 159.976 8.6196 159.845 8.6196C159.878 8.78183 159.878 8.94406 159.878 9.10628Z" fill="white"/>
						</g>
					</svg>
				</a>

				<div class="footer__form">
					{% if footer_form_label %}
						<p>{{ footer_form_label }}</p>
					{% endif %}

					<div class="footer__form-inner">
						<input type="text" placeholder="Email address">
						<button class="btn filled teal">
							<p>Submit</p>
						</button>
					</div>
				</div>
			</div>

			<div class="footer__grid">
				{% if footer_social|length or secondary_footer_nav_item|length %}
					<div class="footer__side">
						{% if footer_social|length %}
							<div class="footer__socials">
								{% for social in footer_social %}
									{% set social_icon = social.type %}
									{% set social_link = social.link ?: "#" %}

									<a href="{{ social_link|lower }}" target="_blank" class="footer__social" rel="nofollow noreferrer noopener">
										<img src="{{ function("svg", social_icon) }}" alt="{{ social_icon }}" loading="lazy">
									</a>
								{% endfor %}
							</div>

							{% if secondary_footer_nav_item|length %}
								<div class="footer__side-items">
									{% for nav_item in secondary_footer_nav_item %}
										{% if nav_item.link %}
											{% set link_url = nav_item.link.url ?: "#" %}
											{% set link_title = nav_item.link.title %}
											{% set link_target = nav_item.link.target ?: "_self" %}

											<a class="footer__item secondary uline uline-light" href="{{ link_url }}" target="{{ link_target }}">
												<p class="sm">{{ link_title }}</p>
											</a>
										{% endif %}
									{% endfor %}
								</div>
							{% endif %}
						{% endif %}
					</div>
				{% endif %}

				{% if primary_footer_nav_column|length %}
					<div class="footer__columns">
						{% for nav_column in primary_footer_nav_column %}
							<div class="footer__column">
								{% for nav_item in nav_column.primary_footer_nav_item %}
									<div class="footer__group">
										{% if nav_item.nav_item_title %}
                                            <div class="footer__group-head">
											    <small>{{ nav_item.nav_item_title }}</small>

                                                <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M18 9.5L12 15.5L6 9.5" stroke="white" stroke-opacity="0.75"/>
                                                </svg>
                                            </div>
										{% endif %}

										{% if nav_item.child_nav_item|length %}
											<div class="footer__items">
												<div class="footer__items-inner">
                                                    {% for child in nav_item.child_nav_item %}
                                                        {% if child.link %}
                                                            {% set link_url = child.link.url ?: "#" %}
                                                            {% set link_title = child.link.title %}
                                                            {% set link_target = child.link.target ?: "_self" %}

                                                            <a class="footer__item uline uline-light" href="{{ link_url }}" target="{{ link_target }}">
                                                                <p class="sm">{{ link_title }}</p>
                                                            </a>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
											</div>
										{% endif %}
									</div>
								{% endfor %}
							</div>
						{% endfor %}
					</div>
				{% endif %}
			</div>
		</div>
	</div>

	<div class="footer__foot">
		<div class="container">
			<div class="footer__foot-inner">
				<div class="footer__note">
					<svg width="89" height="18" viewbox="0 0 89 18" fill="none" xmlns="http://www.w3.org/2000/svg">
						<mask id="mask0_7811_1934" style="mask-type:luminance" maskunits="userSpaceOnUse" x="0" y="0" width="89" height="18">
							<path d="M89 0.800476H0V17.1996H89V0.800476Z" fill="white"/>
						</mask>
						<g mask="url(#mask0_7811_1934)">
							<path d="M48.9567 4.45462C45.693 4.45462 42.9672 6.75406 42.9672 9.98041C42.9672 10.3013 42.9851 10.6043 43.0389 10.8895C42.7161 10.123 41.9809 9.28523 40.4207 8.9822C38.753 8.64352 36.3142 8.46527 36.3142 7.46707C36.3142 6.73624 37.2825 6.68276 37.8743 6.68276C38.3226 6.68276 38.7351 6.75406 39.022 6.95014C39.1834 7.05709 39.3089 7.18186 39.3986 7.36012C39.542 7.68097 39.9007 7.85922 40.2414 7.85922H42.8417C42.7161 5.13198 40.1697 4.45462 37.7308 4.45462C35.561 4.45462 32.6738 5.1498 32.6738 7.66314C32.6738 10.4973 35.5431 10.5508 37.8205 11.1034C38.4661 11.246 39.5958 11.4064 39.5958 12.2085C39.5958 13.0107 38.5916 13.3137 37.8922 13.3137C37.3722 13.3137 36.888 13.1889 36.5473 12.9572C36.3321 12.8146 36.1707 12.6185 36.0631 12.3868C35.9017 12.0303 35.5969 11.7807 35.2023 11.7807H32.4766C32.5842 14.7041 35.2741 15.5418 37.9102 15.5418C40.5463 15.5418 43.2183 14.6149 43.2362 11.7986C43.9535 14.1871 46.1233 15.5418 49.0464 15.5418C51.5211 15.5418 53.8882 14.4902 54.5517 12.0659H51.4314C51.27 12.0659 51.1266 12.1372 51.0369 12.2798C50.6424 12.9037 49.8713 13.2246 49.0822 13.2246C47.54 13.2246 46.6613 12.2798 46.6075 10.836H54.749C54.9104 7.27099 52.9198 4.45462 48.9567 4.45462ZM46.6075 8.9109C46.8227 7.62749 47.6835 6.77189 48.9567 6.77189C50.2299 6.77189 51.0548 7.73444 51.1086 8.9109H46.6075ZM60.9358 4.45462C57.672 4.45462 54.9462 6.75406 54.9462 9.98041C54.9462 13.492 57.403 15.5597 61.0075 15.5597C63.4822 15.5597 65.8493 14.508 66.5128 12.0838H63.3925C63.2311 12.0838 63.0877 12.1551 62.998 12.2977C62.6035 12.9215 61.8324 13.2424 61.0434 13.2424C59.5011 13.2424 58.6224 12.2977 58.5686 10.8538H66.7101C66.8894 7.27099 64.8989 4.45462 60.9358 4.45462ZM58.5866 8.9109C58.8018 7.62749 59.6625 6.77189 60.9358 6.77189C62.209 6.77189 63.0339 7.73444 63.0877 8.9109H58.5866ZM86.1671 4.63287V6.20148C86.1671 6.95014 85.5394 7.57402 84.8042 7.55619H84.7863C82.993 7.55619 82.0605 8.73265 82.0605 10.0339V15.2388H75.0129C74.5467 15.2388 74.1163 15.0071 73.8652 14.6149L71.5519 11.0143L70.8526 11.656C70.6912 11.7986 70.6015 12.0125 70.6015 12.2264V15.2388H66.9791V0.800476H70.6015V8.23355L73.8832 4.75765H78.0974L74.3315 8.44745C74.1701 8.60787 74.1342 8.87525 74.2777 9.0535L78.4022 14.9536V4.75765H81.935V6.59364H81.9708C82.5088 5.25675 83.7462 4.54375 85.3063 4.54375C85.5753 4.54375 85.8802 4.56157 86.1671 4.63287Z" fill="white"/>
							<path d="M28.0467 1.2995C28.0467 4.45454 28.0467 6.02315 27.0604 7.00353C26.0741 7.98391 24.4961 7.98391 21.322 7.98391H5.29015C5.29015 4.29412 8.30284 1.2995 12.0149 1.2995H28.0467ZM0.986299 11.3529C0 12.3332 0 13.9019 0 17.0569H16.0318C19.7439 17.0569 22.7566 14.0623 22.7566 10.3725H6.72476C3.55067 10.3725 1.9726 10.3725 0.986299 11.3529Z" fill="white"/>
							<path d="M87.9964 4.6507C88.5523 4.6507 89.0006 5.09632 89.0006 5.6489C89.0006 6.20148 88.5523 6.64711 87.9964 6.64711C87.4405 6.64711 86.9922 6.20148 86.9922 5.6489C86.9922 5.09632 87.4405 4.6507 87.9964 4.6507ZM87.9964 4.8646C87.5481 4.8646 87.1894 5.2211 87.1894 5.66673C87.1894 6.11235 87.5481 6.46886 87.9964 6.46886C88.4447 6.46886 88.8034 6.11235 88.8034 5.66673C88.8034 5.2211 88.4447 4.8646 87.9964 4.8646Z" fill="white"/>
							<path d="M87.5664 5.11414H87.9968C88.0685 5.11414 88.1582 5.11414 88.2299 5.14979C88.3375 5.18544 88.3913 5.27456 88.3913 5.38151C88.3913 5.43499 88.3913 5.48846 88.3734 5.52411C88.3375 5.59541 88.2837 5.64889 88.212 5.66671H88.1941C88.2658 5.68454 88.3196 5.73801 88.3554 5.80932C88.4092 5.89844 88.463 6.00539 88.4989 6.09452C88.5168 6.11234 88.5168 6.13017 88.5348 6.14799H88.2658C88.2479 6.14799 88.2479 6.14799 88.2479 6.13017C88.212 6.04104 88.1582 5.95192 88.1223 5.86279C88.1223 5.84497 88.1044 5.82714 88.0865 5.80932C88.0506 5.75584 88.0147 5.73801 87.9609 5.73801H87.8533V6.13017H87.5843C87.5664 5.80932 87.5664 5.47064 87.5664 5.11414ZM87.8354 5.57759H88.0147C88.0685 5.57759 88.1044 5.54194 88.1044 5.48846V5.39934C88.0865 5.34586 88.0685 5.32804 88.0147 5.31021C87.9609 5.29239 87.8892 5.31021 87.8175 5.31021C87.8354 5.39934 87.8354 5.48846 87.8354 5.57759Z" fill="white"/>
						</g>
					</svg>

                    {% if footer_note %}
                        <p class="sm">{{ footer_note }}</p>
                    {% endif %}
				</div>

				{% if footer_credits %}
					<p class="sm">{{ function('do_shortcode', footer_credits) }}</p>
				{% endif %}
			</div>
		</div>
	</div>
</footer>
