<section class="{{ block.slug }} {{ block.className }} bg-blue" data-stylesheet="{{ stylesheet }}">
	{% if block.anchor %}
		<div class="section-anchor" id="{{ block.anchor ?? block.id }}"></div>
	{% endif %}

	{% set pt = fields.padding_top and fields.padding_top != 'unset' ? fields.padding_top : '~pt-[4.5rem]/[8.75rem]' %}
	{% set pb = fields.padding_bottom and fields.padding_bottom != 'unset' ? fields.padding_bottom : '~pb-[8rem]/[8.75rem]' %}

	<div class="{{ pt }} {{ pb }} relative z-[3]">
		<div class="flex flex-col ~gap-[2.375rem]/[2.25rem]">
			<div class="container">
				<div class="flex max-md:flex-col ~gap-[2.5rem]/[8.4375rem]">
					<div class="flex flex-col md:pt-[5rem] md:flex-1 md:basis-[33.3125rem] ~gap-[1.25rem]/[2rem]">
						{% if fields.heading %}
							<h1 class="block-title alpha text-white">{{ fields.heading }}</h1>
						{% endif %}

						{% if fields.paragraph %}
							<p class="block-para alpha text-white w-full md:pl-[6.875rem]">{{ fields.paragraph }}</p>
						{% endif %}
					</div>

                    {% if fields.form_shortcode %}
                        <div id="form-container" class="block-form alpha md:flex-1 md:basis-[40.25rem]">
                            <div class="form contact">
                                <svg xmlns="http://www.w3.org/2000/svg" width="34" height="27" viewbox="0 0 34 27" fill="none">
                                    <path d="M7.3133 0H0L9.50044 13.4354L0 26.8708H7.3133L16.8138 13.4354L7.3133 0Z" fill="#838786"/>
                                    <path d="M26.3237 0H33.637L24.1365 13.4354L33.637 26.8708H26.3237L16.8135 13.4354L26.3237 0Z" fill="#155086"/>
                                </svg>

                                <div class="form-inner">
                                    {# {{ function('do_shortcode', fields.form_shortcode) }} #}

                                    <iframe src="https://info.quantumxc.com/l/1007392/2022-12-05/4fv5rm"  width="100%" type="text/html" frameborder="0" allowTransparency="true" style="border: 0"></iframe>
                                </div>
                            </div>
                        </div>
                    {% endif %}
				</div>
			</div>

			{% if fields.has_carousel and fields.logos|length %}
				<div class="block-logos alpha flex flex-col gap-[1rem] items-center">
					{% if fields.sub_heading %}
						<div class="container">
							<p class="text-white">{{ fields.sub_heading }}</p>
						</div>
					{% endif %}

					{% if fields.logos|length %}
						<div class="marquee paused">
							{% for i in 1..2 %}
								<div class="marquee-content">
									{% for logo in fields.logos %}
										<div class="marquee-item">
											{% include 'components/image.twig' with {
                                                image: logo,
                                                class: 'object-contain h-full w-full brightness-0 invert',
                                                size: "full",
                                            } %}
										</div>
									{% endfor %}
								</div>
							{% endfor %}
						</div>
					{% endif %}
				</div>
			{% endif %}
		</div>
	</div>

	{% if fields.media_type == "image" and fields.media_image %}
		<div class="media-container image">
			{% include 'components/image.twig' with {
                image: fields.media_image,
                size: [1920, 1080],
                loading: "eager",
            } %}
		</div>
	{% endif %}

	{% if fields.media_type == "video" and fields.media_video %}
		<div class="media-container video">
			<video src="{{ fields.media_video }}" autoplay muted loop playsinline preload="auto" disablepictureinpicture disableremoteplayback>
				Your browser does not support the video tag.
			</video>
		</div>
	{% endif %}

	<div class="absolute top-0 left-0 h-full w-full pointer-events-none z-[1]">
		<svg class="absolute center-xy w-auto h-auto min-h-full min-w-full" xmlns="http://www.w3.org/2000/svg" width="1440" height="900" viewbox="0 0 1440 900" fill="none">
			<g filter="url(#filter0_n_8588_8815)">
				<rect width="1440" height="900" fill="#206EEC"/>
			</g>
			<defs>
				<filter id="filter0_n_8588_8815" x="0" y="0" width="1440" height="900" filterunits="userSpaceOnUse" color-interpolation-filters="sRGB">
					<feFlood flood-opacity="0" result="BackgroundImageFix"/>
					<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
					<feTurbulence type="fractalNoise" basefrequency="0.66666668653488159 0.66666668653488159" stitchtiles="stitch" numoctaves="3" result="noise" seed="514"/>
					<feColorMatrix in="noise" type="luminanceToAlpha" result="alphaNoise"/>
					<feComponentTransfer in="alphaNoise" result="coloredNoise1">
						<feFuncA type="discrete" tablevalues="1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 "/>
					</feComponentTransfer>
					<feComposite operator="in" in2="shape" in="coloredNoise1" result="noise1Clipped"/>
					<feFlood flood-color="rgba(0, 0, 0, 0.1)" result="color1Flood"/>
					<feComposite operator="in" in2="noise1Clipped" in="color1Flood" result="color1"/>
					<feMerge result="effect1_noise_8588_8815">
						<feMergeNode in="shape"/>
						<feMergeNode in="color1"/>
					</feMerge>
				</filter>
			</defs>
		</svg>
	</div>
</section>
