<section class="{{ block.slug }} {{ block.className }} bg-black">
	{% if block.anchor %}
		<div class="section-anchor" id="{{ block.anchor ?? block.id }}"></div>
	{% endif %}

	{% set pt = fields.padding_top and fields.padding_top != "unset" ? fields.padding_top : "st-xxl" %}
	{% set pb = fields.padding_top and fields.padding_bottom != "unset" ? fields.padding_bottom : "sb-xxl" %}

	<div class="container">
		<div class="{{ pt }} {{ pb }} relative">
			<div class="flex flex-col ~gap-[2rem]/[3rem] relative">
				{% if fields.heading %}
					<h2 class="block-heading alpha text-white">{{ fields.heading }}
						<span class="words">
							{% for item in fields.items %}
								{% if item.heading %}
									<span class="word {{ loop.index == 1 ? " active" }}" data-index="{{ loop.index }}">{{ item.heading }}</span>
								{% endif %}
							{% endfor %}
						</span>
					</h2>
				{% endif %}

				{% if fields.items|length %}
					<div class="carousel-container">
						<div class="owl-carousel lg:flex-1 lg:max-w-[60rem]">
							{% for index, item in fields.items %}
								<div class="item">
									<div class="item-inner">
										<div class="item-desc">
											{% if item.title or item.description %}
												<div class="flex flex-col ~gap-[0.5rem]/[0.75rem]">
													{% if item.title %}
														<h4 class="text-white">{{ item.title }}</h4>
													{% endif %}

													{% if item.description %}
														<p class="text-white-75">{{ item.description }}</p>
													{% endif %}
												</div>
											{% endif %}

											{% include 'components/cta.twig' with {
                                                'class' : 'filled teal',
                                                'cta': item.cta, 
                                                'icon': true,
                                            } %}
										</div>

										{% if item.media_type == "image" and item.media_image %}
											<div class="media-container image">
												{% include 'components/image.twig' with {
                                                    'image': item.media_image,
                                                    'size': "large",
                                                } %}
											</div>
										{% endif %}

										{% if item.media_type == "video" and item.media_video %}
											<div class="media-container video" data-video="{{ item.media_video }}"></div>
										{% endif %}
									</div>
								</div>
							{% endfor %}
						</div>

						<div class="shrink-0 xl:ml-auto flex gap-[0.75rem] lg:mt-auto relative z-[2] max-xl:justify-between">
							<div class="arrow prev">
								<div class="arrow-inner">
									<svg width="10" height="10" viewbox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M10 4.99946L4.99946 10L3.82882 8.82936L6.83087 5.82731H0V4.17161H6.83087L3.82882 1.17064L4.99946 0L10 4.99946Z" fill="#8BFFF7"/>
									</svg>
								</div>

								<div class="arrow-progress">
									<svg viewBox="0 0 36 36" width="36" height="36">
										<circle class="background" cx="18" cy="18" r="17" stroke="#FFFFFF66" stroke-width="1" fill="none" stroke-linecap="round"/>
									</svg>
								</div>
							</div>

							<div class="arrow next">
								<div class="arrow-inner">
									<svg width="10" height="10" viewbox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M10 4.99946L4.99946 10L3.82882 8.82936L6.83087 5.82731H0V4.17161H6.83087L3.82882 1.17064L4.99946 0L10 4.99946Z" fill="#8BFFF7"/>
									</svg>
								</div>

								<div class="arrow-progress">
									<svg viewBox="0 0 36 36" width="36" height="36">
										<circle class="background" cx="18" cy="18" r="17" stroke="#FFFFFF66" stroke-width="1" fill="none" stroke-linecap="round"/>
										<circle class="foreground" cx="18" cy="18" r="17" stroke="#EE5833" stroke-width="1" fill="none" stroke-linecap="round"/>
									</svg>
								</div>
							</div>
						</div>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
</section>

