<section class="{{ block.slug }} {{ block.className }} {{ fields.dark_mode ? "dark" }} dark:bg-black">
	{% if block.anchor %}
		<div class="section-anchor" id="{{ block.anchor ?? block.id }}"></div>
	{% endif %}

	{% set pt = fields.padding_top and fields.padding_top != "unset" ? fields.padding_top : "st-xl" %}
	{% set pb = fields.padding_top and fields.padding_bottom != "unset" ? fields.padding_bottom : "sb-none" %}

	{% set is_latest = fields.source == "latest" %}
	{% set is_related = fields.source == "related" %}

	{% set show_latest_posts = is_latest and latest_posts|length %}
	{% set show_related_posts = is_related and latest_posts|length %}

	{% set data_source = latest_posts %}

	<div class="{{ pt }} {{ pb }}">
		<div class="flex flex-col ~gap-[2rem]/[3rem]">
			{% if fields.heading or fields.paragraph or fields.cta %}
				<div class="container">
					<div class="flex justify-between gap-[1.25rem] max-md:flex-col">
						{% if fields.heading or fields.paragraph %}
							<div class="flex flex-col ~gap-[1rem]/[1.5rem] md:flex-1 min-w-0 max-w-[55.25rem]">
								{% if fields.heading %}
									<h2 class="block-heading alpha dark:text-white">
										{{ fields.heading }}
									</h2>
								{% endif %}

								{% if fields.paragraph %}
									<p class="block-para alpha text-black-75 dark:text-white-75">{{ fields.paragraph }}</p>
								{% endif %}
							</div>
						{% endif %}

						{% include 'components/cta.twig' with {
                            class: "md:self-end shrink-0 filled " ~ (fields.is_dark ? "teal" : "black"),
                            cta: fields.cta,
                            icon: true
                        } %}
					</div>
				</div>
			{% endif %}

			{% if fields.variation == "three-grid" and (fields.posts_three|length or show_latest_posts or show_related_posts) %}
				<div class="container no-pd">
					<div class="grid md:grid-cols-2 lg:grid-cols-3 lg:border-l-[1px] border-light-grey dark:border-dark-grey">
						{% if not is_latest and not is_related %}
							{% set data_source = fields.posts_three %}
						{% endif %}

						{% for item in data_source %}
							{% include 'components/card.twig' with {
                                data: item,
                                class: "three is-sol",
                                source: fields.source,
                                is_solution: true,
                                sol_back_cta: back_cta,
                                show_desc: true,
                            } %}
						{% endfor %}
					</div>
				</div>

			{% elseif fields.variation == "carousel" and (fields.posts_special|length or show_latest_posts) %}
				<div class="container no-pd">
					<div class="carousel-outer">
						<div class="carousel-container">
							{% if not is_latest %}
								{% set data_source = fields.posts_special %}
							{% endif %}

							<div class="carousel-inner">
								{% for item in data_source %}
									{% include 'components/card.twig' with {
                                        data: item,
                                        class: "carousel" ~ (loop.index == 1 ? " active"),
                                        source: fields.source,
                                        is_solution: true,
                                        sol_back_cta: back_cta,
                                        show_desc: true
                                    } %}
								{% endfor %}

								{% if data_source|length >= 3 %}
									{% for item in data_source %}
										{% include 'components/card.twig' with {
                                            data: item,
                                            class: "carousel clone",
                                            source: fields.source,
                                            is_solution: true,
                                            sol_back_cta: back_cta,
                                            show_desc: true
                                        } %}
									{% endfor %}
								{% endif %}
							</div>
						</div>

						<div class="arrows">
							<div class="arrow prev">
								<div class="arrow-inner">
									<svg width="10" height="10" viewbox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M10 4.99946L4.99946 10L3.82882 8.82936L6.83087 5.82731H0V4.17161H6.83087L3.82882 1.17064L4.99946 0L10 4.99946Z" fill="#8BFFF7"/>
									</svg>
								</div>

								<div class="arrow-progress">
									<svg viewbox="0 0 36 36" width="36" height="36">
										<circle class="background" cx="18" cy="18" r="17" stroke="#FFFFFF66" stroke-width="1" fill="none" stroke-linecap="round"/>
									</svg>
								</div>
							</div>

							<div class="arrow next">
								<div class="arrow-inner">
									<svg width="10" height="10" viewbox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M10 4.99946L4.99946 10L3.82882 8.82936L6.83087 5.82731H0V4.17161H6.83087L3.82882 1.17064L4.99946 0L10 4.99946Z" fill="#8BFFF7"/>
									</svg>
								</div>

								<div class="arrow-progress">
									<svg viewbox="0 0 36 36" width="36" height="36">
										<circle class="background" cx="18" cy="18" r="17" stroke="#FFFFFF66" stroke-width="1" fill="none" stroke-linecap="round"/>
										<circle class="foreground" cx="18" cy="18" r="17" stroke="#EE5833" stroke-width="1" fill="none" stroke-linecap="round"/>
									</svg>
								</div>
							</div>
						</div>
					</div>
				</div>

			{% else %}
				<div class="empty sb-xl">
					<div class="container">
						<h6 class="text-center">There aren't any posts here just yet.
							<br/>Check back soon for updates.</h6>
					</div>
				</div>
			{% endif %}
		</div>
	</div>
</section>
