<section class="{{ block.slug }} {{ block.className }} bg-black">
    {% if block.anchor %}
        <div class="section-anchor" id="{{ block.anchor ?? block.id }}"></div>
    {% endif %}

    {% set pt = fields.padding_top and fields.padding_top != "unset" ? fields.padding_top : "st-xl" %}
    {% set pb = fields.padding_top and fields.padding_bottom != "unset" ? fields.padding_bottom : "sb-none" %}

    <div class="{{ pt }} {{ pb }}">
        <div class="flex flex-col ~gap-[2rem]/[3rem]">
            <div class="container">
                {% if fields.heading %}
                    <h2 class="block-heading alpha text-white max-w-[48.25rem]">{{ fields.heading }}</h2>
                {% endif %}
            </div>

            <div class="container no-pd">
                <div class="relative">
                    <div class="flex max-lg:flex-col max-lg:border-x-0 border-[1px] border-dark-grey relative z-[2]">
                        {% if fields.logos|length %}
                            <div class="grid grid-cols-2 lg:flex-1 lg:basis-[37.125rem] backdrop-blur-[1.625rem]">
                                {% for item in fields.logos %}
                                    {% if item.logo %}
                                        <div class="flex p-[1.25rem] justify-center items-center border-r-[1px] border-b-[1px] border-dark-grey mb-[-1px] ml-[-1px] bg-black-20 h-full ~min-h-[11.625rem]/[18.5rem]">
                                            {% include 'components/image.twig' with {
                                                'image': item.logo,
                                                'class': 'max-w-[9rem] max-h-[3.75rem] object-contain',
                                                'size': "medium",
                                            } %}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}

                        {% if fields.message %}
                            <div class="max-lg:order-3 ~p-[1rem]/[3rem] w-full lg:flex-1 lg:basis-[53rem]">
                                <div class="flex flex-col ~gap-[1.25rem]/[2rem] h-full">
                                    <p class="h3h4 text-white">{{ fields.message }}</p>

                                    {% if fields.author or fields.position %}
                                        <div class="flex items-center ~gap-[0.5rem]/[0.75rem] mt-auto">
                                            {% if fields.author %}
                                                <p class="text-white-75">{{ fields.author }}</p>
                                            {% endif %}

                                            {% if fields.author and fields.position %}
                                                <div class="bg-teal h-[0.375rem] w-[0.375rem] rounded-[50%]"></div>
                                            {% endif %}

                                            {% if fields.position %}
                                                <p class="text-white-75">{{ fields.position }}</p>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    </div>

                    {% if bg %}
                        <div class="absolute top-0 left-0 h-full w-full">
                            {% include 'components/image.twig' with {
                                'image': bg,
                                'size': "full",
                            } %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>


