<section class="{{ block.slug }} {{ block.className }}">
	{% if block.anchor %}
		<div class="section-anchor" id="{{ block.anchor ?? block.id }}"></div>
	{% endif %}

	{% set pt = fields.padding_top and fields.padding_top != "unset" ? fields.padding_top : "st-lg" %}
	{% set pb = fields.padding_top and fields.padding_bottom != "unset" ? fields.padding_bottom : "sb-none" %}

	{% set items_per_page = 12 %}
	{% set has_posts = posts and posts|length %}

	<div class="{{ pt }} {{ pb }}">
		<div class="flex flex-col ~gap-[1rem]/[1.5rem]">
			{% if fields.heading %}
				<div class="container">
					<h2 class="block-heading alpha max-w-[45.375rem]">
						{{ fields.heading }}
					</h2>
				</div>
			{% endif %}

			<div class="flex max-lg:flex-col border-t-[1px] border-light-grey">
				<div class="~pl-[1rem]/[1.5rem] lg:~pl-[1rem]/[3rem] ~pr-[1rem]/[1.5rem] border-r-[1px] border-light-grey lg:flex-1 lg:basis-[22.875rem] max-lg:border-b-[1px] max-lg:border-b-light-grey">
					<div class="~py-[1rem]/[1.5rem] flex flex-col ~gap-[1rem]/[1.5rem] lg:h-fit lg:sticky lg:top-0">
						<div class="search">
							<input type="text" placeholder="Search"/>
							<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M21.0008 21L16.8008 16.8M19 11C19 15.4183 15.4183 19 11 19C6.58172 19 3 15.4183 3 11C3 6.58172 6.58172 3 11 3C15.4183 3 19 6.58172 19 11Z" stroke="#121212" stroke-opacity="0.4" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
						</div>

						{% if categories|length %}
							<div class="filter-groups">
								<div class="filter-group">
									<div class="filter-head">
										<p class="max-lg:hidden">Category</p>
										<small class="lg:hidden">Category</small>

										<div class="filter-clear">
											<p>Clear</p>

											<svg class="h-[0.5rem] w-auto" width="9" height="8" viewbox="0 0 9 8" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M8.31299 0.767051L5.07951 3.99947L8.31299 7.23295L7.54594 8L4.31246 4.76652L1.08004 8L0.312988 7.23295L3.54541 3.99947L0.312988 0.767051L1.08004 0L4.31246 3.23242L7.54594 0L8.31299 0.767051Z" fill="#121212" fill-opacity="0.75"/>
											</svg>
										</div>
									</div>

									<div class="filter-children">
										{% for item in categories %}
											<div class="filter-item">
												<input type="checkbox" value="{{ item.slug }}" name="category">
												<p>{{ item.name }}</p>
											</div>
										{% endfor %}

										<div class="filter-dd">
											<select placeholder="Select category">
												{% for item in categories %}
													<option value="{{ item.slug }}">{{ item.name }}</option>
												{% endfor %}
											</select>

											<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M18 9.11772L11.5 16L5 9.11772L6.05563 8L11.5 13.7646L16.9444 8L18 9.11772Z" fill="#121212" fill-opacity="0.4"/>
											</svg>
										</div>
									</div>
								</div>
							</div>
						{% endif %}
					</div>
				</div>

				<div class="flex flex-col lg:flex-1 lg:basis-[67.125rem]">
					{% if has_posts %}
						<div class="cards-container" data-per-page="{{ items_per_page }}">
							{% for post in posts %}
								{% set category_names = [] %}
								{% set category_raw = function('wp_get_post_terms', post.ID, taxonomy) %}

								{% for category in category_raw %}
									{% set category_names = category_names | merge([category.slug]) %}
								{% endfor %}

								{% include 'components/card.twig' with {
                                    data: post,
                                    class: "listing-res in-filter",
                                    is_resource: true,
                                    is_on_grid: true,
                                    category_names: category_names,
                                } %}
							{% endfor %}
						</div>

						<div class="empty">
							<div class="container">
								<h6 class="text-center">We're sorry, there aren't any posts that match what you're searching for.
									<br/>Try another search term or reset to see our latest posts.</h6>
							</div>
						</div>

						<div class="load-more border-y-[1px] border-b-light-grey">
							<div class="container">
								<div class="py-[1.5rem] flex justify-center">
									<div class="btn bordered black has-arrow">
										<p>Load more</p>

										<div class="btn-arrow">
											<svg width="10" height="10" viewbox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M10 4.99946L4.99946 10L3.82882 8.82936L6.83087 5.82731H0V4.17161H6.83087L3.82882 1.17064L4.99946 0L10 4.99946Z" fill="#8BFFF7"/>
											</svg>
										</div>
									</div>
								</div>
							</div>
						</div>
					{% else %}
						<div class="empty active">
							<div class="container">
								<h6 class="text-center">There aren't any posts here just yet.
									<br/>Check back soon for updates.</h6>
							</div>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</section>
