<section class="{{ block.slug }} {{ block.className }} border-b-[1px] border-dark-grey">
	{% if block.anchor %}
		<div class="section-anchor" id="{{ block.anchor ?? block.id }}"></div>
	{% endif %}

	<div class="container max-lg:px-0">
		<div class="py-[4.5rem] lg:py-[1.5rem]">
			<div class="flex ~gap-[2.5rem]/[8.75rem] items-center max-lg:flex-col">
				<div class="contents lg:flex flex-col ~gap-[2.5rem]/[5.5rem] lg:flex-1 lg:basis-[34.125rem] min-w-0 lg:py-[5rem] self-stretch">
					{% if fields.heading or fields.paragraph %}
						<div class="flex flex-col ~gap-[1rem]/[1.5rem] max-lg:~px-[1rem]/[3rem] max-lg:w-full">
							{% if fields.heading %}
								<h1 class="block-heading alpha text-white">
									{{ fields.heading }}
								</h1>
							{% endif %}

							{% if fields.paragraph %}
								<p class="block-para alpha text-white-75">
									{{ fields.paragraph }}
								</p>
							{% endif %}
						</div>
					{% endif %}

					{% if fields.message %}
                        <div class="max-lg:order-3 max-lg:~px-[1rem]/[3rem] w-full">
                            <div class="border-[1px] border-dark-grey rounded-[0.25rem] ~p-[1.25rem]/[2rem] flex flex-col ~gap-[1.25rem]/[2rem]">
                                <p class="lg text-white">{{ fields.message }}</p>

                                {% if fields.author or fields.position %}
                                    <div class="flex items-center ~gap-[0.5rem]/[0.75rem]">
                                        {% if fields.author %}
                                            <p class="text-white-75">{{ fields.author }}</p>
                                        {% endif %}

                                        {% if fields.author and fields.position %}
                                            <div class="bg-teal h-[0.375rem] w-[0.375rem] rounded-[50%]"></div>
                                        {% endif %}

                                        {% if fields.position %}
                                            <p class="text-white-75">{{ fields.position }}</p>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
					{% endif %}

					{% if fields.logos|length %}
						<div class="max-lg:order-4 flex flex-col ~gap-[1rem]/[1.5rem] max-lg:~px-[1rem]/[3rem] w-full">
							{% if fields.eyebrow %}
								<small class="text-rust text-center mx-auto">{{ fields.eyebrow }}</small>
							{% endif %}

							<div class="marquee__outer">
								<div class="marquee__overlay left"></div>
								<div class="marquee__overlay right"></div>

								<div class="marquee paused">
									{% for i in 1..2 %}
										<div class="marquee__content">
											{% for i in 1..2 %}
												{% for logo in fields.logos %}
													{% if logo.logo %}
														<div class="item">
															{% include 'components/image.twig' with {
                                                                'image': logo.logo,
                                                                'class': 'object-contain h-full w-full',
                                                                'size': "full",
                                                            } %}
														</div>
													{% endif %}
												{% endfor %}
											{% endfor %}
										</div>
									{% endfor %}
								</div>
							</div>
						</div>
					{% endif %}
				</div>

				<div class="max-lg:order-2 lg:flex-1 lg:basis-[41.25rem] ~px-[1rem]/[4rem] ~py-[2rem]/[5rem] relative lg:rounded-[0.25rem] overflow-hidden flex min-w-0 self-stretch">
					<div class="relative z-[2] ~py-[2rem]/[3rem] ~px-[1.25rem]/[2rem] rounded-[0.25rem] overflow-hidden flex flex-col gap-[2rem] w-full bg-black ~min-h-[40.125rem]/[46rem]">
						{% if fields.title or fields.subtext %}
							<div class="flex flex-col gap-[0.25rem]">
								{% if fields.title %}
									<h5 class="text-white">{{ fields.title }}</h5>
								{% endif %}

								{% if fields.subtext %}
									<div class="rich-text on-dark">{{ fields.subtext }}</div>
								{% endif %}
							</div>
						{% endif %}
					</div>

					{% if fields.media_type == "image" and fields.media_image %}
						<div class="media-container image">
							{% include 'components/image.twig' with {
                                'image': fields.media_image,
                                'size': "large",
                                'loading': "eager",
                            } %}
						</div>
					{% endif %}

					{% if fields.media_type == "video" and fields.media_video %}
						<div class="media-container video" data-video="{{ fields.media_video }}"></div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</section>

