{% set is_home = function("is_home") or function("is_front_page") %}

<section class="{{ block.slug }} {{ block.className }} {{ is_home ? "invi" }}">
	{% set pt = fields.padding_top and fields.padding_top != "unset" ? fields.padding_top : "st-none" %}
	{% set pb = fields.padding_top and fields.padding_bottom != "unset" ? fields.padding_bottom : "sb-sm" %}

	{% if block.anchor %}
		<div class="section-anchor" id="{{ block.anchor ?? block.id }}"></div>
	{% endif %}

	<div class="{{ pt }} {{ pb }}">
		<div class="flex flex-col ~gap-[1rem]/[1.5rem] items-center relative z-[1]">
			{% if fields.heading %}
				<div class="container">
					<p class="text-center">{{ fields.heading }}</p>
				</div>
			{% endif %}

			{% if fields.logos|length %}
				<div class="marquee paused">
					{% for i in 1..2 %}
						<div class="marquee-content">
							{% for logo in fields.logos %}
								<div class="marquee-item">
									{% include 'components/image.twig' with {
                                        image: logo,
                                        class: 'object-contain h-full w-full',
                                        size: "full",
                                    } %}
								</div>
							{% endfor %}
						</div>
					{% endfor %}
				</div> 
			{% endif %}
		</div>
	</div>
</section>
