<section class="auth-head overflow-y-visible">
	<div class="st-xxl sb-none">
		<div class="container">
			<div class="flex ~gap-[2.5rem]/[8.5rem] items-start max-md:flex-col-reverse">
				<div class="flex flex-col ~gap-[1rem]/[1.5rem] min-w-0 md:flex-1 md:basis-[54.125rem]">
					<div class="flex flex-col ~gap-[0.5rem]/[0.75rem]">
						<h1 class="block-title alpha h2">{{ title }}</h1>
						{% if position %}
							<p class="block-para alpha">{{ position }}</p>
						{% endif %}
					</div>

					{% if linkedin %}
						<a href="{{ linkedin }}" target="_blank" class="h-[2.25rem] w-[2.25rem]" rel="nofollow noreferrer noopener">
							<img src="{{ function("svg", "linkedin-dark") }}" alt="linkedin" loading="lazy">
						</a>
					{% endif %}

					{% if description %}
						<div class="rctxt block-bio alpha">{{ description }}</div>
					{% endif %}
				</div>

				{% if image %}
					<div class="min-w-0 md:flex-1 md:shrink-0 md:basis-[19.375rem] rounded-[0.5rem] border border-green overflow-clip">
						{% include 'components/image.twig' with {
                            class: "w-full h-auto aspect-[48/53]",
                            image: image,
                            size: "large",
                            loading: "eager"
                        } %}
					</div>
				{% endif %}
			</div>
		</div>
	</div>
</section>
