<article class="rc {{ custom_class ?: " default" }}">
	<a href="{{ permalink }}" class="rc-link"></a>

	<div class="rc-card {{ animated ? " alpha" }}">
		<div class="rc-head">
			{% if type %}
				<div class="rc-tag">
					<div class="rc-square"></div>
					<small>{{ type }}</small>
				</div>
			{% endif %}

			{% if title %}
				{% if custom_class and ("at-hero" in custom_class) %}
					<h5>{{ title }}</h5>
				{% else %}
					<p class="lg">{{ title }}</p>
				{% endif %}
			{% endif %}
		</div>

		<div class="rc-media">
			{% if type|lower == "video" %}
				<div class="rc-play">
					<img src="{{ function('svg', 'play') }}" loading="{{ loading ?: "lazy" }}" {{ loading and loading == "eager" ? 'fetchpriority="high"' }} alt="play button">
				</div>
			{% endif %}

			<div class="rc-thumbnail">
				{% if thumbnail %}
					<img src="{{ thumbnail }}" alt="{{ title }}" loading="{{ loading ?: "lazy" }}" {{ loading and loading == "eager" ? 'fetchpriority="high"' }}/>
				{% else %}
					<img src="{{ function('png', 'thumbnail') }}" loading="{{ loading ?: "lazy" }}" {{ loading and loading == "eager" ? 'fetchpriority="high"' }} alt="default qcx thumbnail placeholder"/>
				{% endif %}
			</div>
		</div>
	</div>
</article>
