<section class="{{ block.slug }} {{ block.className }} bg-black border-b-[1px] border-dark-grey">
	{% if block.anchor %}
		<div class="section-anchor" id="{{ block.anchor ?? block.id }}"></div>
	{% endif %}

	{% set pt = fields.padding_top and fields.padding_top != "unset" ? fields.padding_top : "~pt-[2.5rem]/[5rem]" %}
	{% set pb = fields.padding_top and fields.padding_bottom != "unset" ? fields.padding_bottom : "~pb-[2.5rem]/[5rem]" %}

	<div class="{{ pt }} {{ pb }} flex flex-col ~gap-[1.25rem]/[1.5rem] items-center">
        {% if fields.heading %}
			<div class="container flex justify-center">
				<small class="text-rust text-center mx-auto">{{ fields.heading }}</small>
			</div>
		{% endif %}

		{% if fields.logos|length %}
			<div class="marquee paused">
				{% for i in 1..2 %}
					<div class="marquee__content">
						{% for i in 1..2 %}
							{% for logo in fields.logos %}
								{% if logo.logo %}
                                    <div class="item">
                                        {% include 'components/image.twig' with {
                                            'image': logo.logo,
                                            'class': 'object-contain h-full w-full',
                                            'size': "full",
                                        } %}
                                    </div>
								{% endif %}
							{% endfor %}
						{% endfor %}
					</div>
				{% endfor %}
			</div>
		{% endif %}
	</div>
</section>


