<section class="{{ block.slug }} {{ block.className }} {{ fields.dark_mode ? "dark" }} dark:bg-black border-y-[1px] border-y-light-grey dark:border-y-dark-grey">
	{% if block.anchor %}
		<div class="section-anchor" id="{{ block.anchor ?? block.id }}"></div>
	{% endif %}

	<div class="container no-pd relative z-[2]">
        <div class="inner">
            {% if fields.heading %}
                <div class="content">
                    <h3 class="block-heading alpha dark:text-white whitespace-pre-wrap">{{ fields.heading }}</h3>
                </div>
            {% endif %}

            {% if fields.stats|length %}
                <div class="items is-{{ fields.orientation }} {{ fields.columns == "two" ? "two-cols" : "three-cols" }}">
                    {% for index, stat in fields.stats %}
                        <div class="item">
                            {% if stat.amount %}
                                <div class="h1 dark:text-white"><span data-amount="{{ stat.amount }}">0</span>{{ stat.suffix }}</div>
                            {% endif %}

                            {% if stat.paragraph %}
                                <p class="dark:text-white-75 text-black-75">
                                    {{ stat.paragraph }}
                                </p>
                            {% endif %}
                        </div>
                    {% endfor %}

                    {% if fields.dark_mode and fields.background %}
                        <div class="absolute bg-black-20 backdrop-blur-[1.5625rem] w-screen top-0 left-0 h-full"></div>
                    {% endif %}
                </div>
            {% endif %}
        </div>
	</div>
    
    {% if fields.background and fields.dark_mode %}
        {% include 'components/image.twig' with {
            'image': fields.background,
            'class': 'absolute top-0 left-0 w-full h-full',
            'size': "full",
        } %}
    {% endif %}
</section>

