<section class="{{ block.slug }} {{ block.className }} bg-black">
	{% if block.anchor %}
		<div class="section-anchor" id="{{ block.anchor ?? block.id }}"></div>
	{% endif %}

	{% set pt = fields.padding_top and fields.padding_top != "unset" ? fields.padding_top : "st-xxl" %}
	{% set pb = fields.padding_top and fields.padding_bottom != "unset" ? fields.padding_bottom : "sb-none" %}

	<div class="{{ pb }}">
		{% if fields.heading %}
			<div class="container {{ pt }} sb-xs">
				<h2 class="block-heading main-heading alpha text-white">{{ fields.heading }}</h2>
			</div>
		{% endif %}

		{% if fields.item|length %}
			<div class="relative border-y-[1px] border-dark-grey">
				<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 relative z-[2] mb-[-1px]">
					{% for item in fields.item %}
                        {% set resource = item.resource %}
						{% set taxonomy = "category" %}
                        
						{% set source = item["taxonomy_" ~ (resource == "post" ? "blog" : resource) ] %}
                        {% set link = function("get_field", 'blog_back_cta', 'option') %}

						{% if (item.resource == "webinar") %}
							{% set taxonomy = "webinar-type" %}
                            {% set link = function("get_field", 'webinar_back_cta', 'option') %}
						{% elseif (item.resource == "ebook") %}
							{% set taxonomy = "ebook-type" %}
                            {% set link = function("get_field", 'ebook_back_cta', 'option') %}
						{% elseif (item.resource == "customer-story") %}
							{% set taxonomy = "customer-story-type" %}
                            {% set link = function("get_field", 'customer_story_back_cta', 'option') %}
						{% endif %}

						{% if source %}
							<a href="{{ link.url ? link.url ~ "?category=" ~ source.slug : "#" }}" class="py-[2rem] ~px-[1.25rem]/[2rem] flex flex-col gap-[2rem] sm:border-r-[1px] sm:translate-x-[1px] border-b-[1px] hover:border-rust border-dark-grey bg-black transition-colors duration-500 ease-power2-out hover:bg-rust">
								{% include 'components/image.twig' with {
                                    class: "h-[3.375rem] w-[3.375rem]",
                                    image: item.logo,
                                    size: "medium",
                                } %}

								<h4 class="text-white">{{ source.name }}</h4>
							</a>
						{% endif %}
					{% endfor %}
				</div>

				{% if bg %}
					<div class="absolute top-0 left-0 h-full w-full">
						{% include 'components/image.twig' with {
                            'image': bg,
                            'size': "full",
                        } %}
					</div>
				{% endif %}
			</div>
		{% endif %}
	</div>
</section>
