<section class="{{ block.slug }} {{ block.className }} {{ fields.dark_mode ? "dark" }} dark:bg-black border-b-[1px] border-light-grey dark:border-dark-grey">
	{% if block.anchor %}
		<div class="section-anchor" id="{{ block.anchor ?? block.id }}"></div>
	{% endif %}

	{% set pt = fields.padding_top and fields.padding_top != "unset" ? fields.padding_top : "st-xl" %}
	{% set pb = fields.padding_top and fields.padding_bottom != "unset" ? fields.padding_bottom : "sb-none" %}

	<div class="{{ pt }} {{ pb }}">
		<div class="flex flex-col ~gap-[2rem]/[3rem]">
			{% if fields.heading or fields.cta %}
				<div class="container">
					<div class="flex justify-between gap-[1.25rem] max-md:flex-col">
						{% if fields.heading %}
							<h2 class="block-heading alpha dark:text-white md:flex-1 min-w-0 max-w-[55.25rem]">
								{{ fields.heading }}
							</h2>
						{% endif %}

						{% include 'components/cta.twig' with {
                            class: "md:self-end shrink-0 filled " ~ (fields.dark_mode ? "teal" : "black"),
                            cta: fields.cta,
                            icon: true
                        } %}
					</div>
				</div>
			{% endif %}

			{% set item_count = fields.logos|length %}

			{% if item_count %}
				{# {% set grid_class = "grid-cols-1" %}

				{% if item_count == 4 %}
					{% set grid_class = "grid-cols-2 xl:grid-cols-4" %}
				{% elseif item_count == 3 %}
					{% set grid_class = "grid-cols-2 lg:grid-cols-3" %}
				{% elseif item_count == 2 %}
					{% set grid_class = "grid-cols-2" %}
				{% endif %}

				<div class="grid {{ grid_class }} border-t-[1px] border-light-grey dark:border-dark-grey">
					{% for item in fields.logos %}
						{% if item.logo %}
							<div class="item">
								{% include 'components/image.twig' with {
                                    'image': item.logo,
                                    'class': '~max-w-[6.75rem]/[11.625rem] max-h-[5rem] object-contain',
                                    'size': "medium",
                                } %}
							</div>
						{% endif %}
					{% endfor %}

					{% if item_count == 3 %}
						<div class="item lg:!hidden !bg-neutral-10 dark:!bg-neutral-700"></div>
					{% endif %}
				</div> #}

                <div class="marquee paused">
                    {% for i in 1..2 %}
                        <div class="marquee__content">
                            {% for i in 1..4 %}
                                {% for item in fields.logos %}
                                    {% if item.logo %}
                                        <div class="item">
                                            {% include 'components/image.twig' with {
                                                'image': item.logo,
                                                'class': '~max-w-[6.75rem]/[11.625rem] max-h-[5rem] object-contain',
                                                'size': "medium",
                                            } %}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
			{% endif %}
		</div>
	</div>
</section>
