<section class="{{ block.slug }} {{ block.className }}">
	{% if block.anchor %}
		<div class="section-anchor" id="{{ block.anchor ?? block.id }}"></div>
	{% endif %}

	{% set pt = fields.padding_top and fields.padding_top != "unset" ? fields.padding_top : "st-xxl" %}
	{% set pb = fields.padding_top and fields.padding_bottom != "unset" ? fields.padding_bottom : "sb-xxl" %}

	<div class="container">
		<div class="{{ pt }} {{ pb }}">
			<div class="flex flex-col items-center ~gap-[2.5rem]/[4rem]">
				<div class="flex max-md:flex-col justify-between md:items-end w-full ~md:~px-[0rem]/[7rem] ~gap-[2rem]/[5.625rem]">
					<div class="flex flex-col items-start ~gap-[1.25rem]/[2rem]">
						{% if fields.heading %}
							<h2 class="block-title alpha max-w-[52rem]">{{ fields.heading }}</h2>
						{% endif %}

						{% if fields.paragraph %}
							<p class="block-duo alpha md:ml-[6.875rem] max-w-[30.5rem]">{{ fields.paragraph }}</p>
						{% endif %}
					</div>

					{% include 'components/cta.twig' with {
                        class: 'block-duo alpha filled blue md:shrink-0 md:self-end',
                        cta: fields.cta,
                    } %}
				</div>

				{% if videos %}
					<div class="items">
						<div class="items-nav alpha">
							<button class="ar-l" type="button">
								<svg xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewbox="0 0 6 10" fill="none">
									<path d="M5 9L1 5L5 1" stroke="black" stroke-linecap="square"/>
								</svg>
								<span class="button">Previous</span>
							</button>

							<div class="bg-gray w-[1px] h-[1.25rem]"></div>

							<button class="ar-r" type="button">
								<span class="button">Next</span>
								<svg xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewbox="0 0 6 10" fill="none">
									<path d="M1 1L5 5L1 9" stroke="black" stroke-linecap="square"/>
								</svg>
							</button>
						</div>

						<div class="owl-carousel">
							{% for video in videos %}
								{% set video_source = null %}

								{% if video.source == 'youtube' and video.youtube_id %}
									{% set video_source = video.youtube_id %}
								{% endif %}

								{% if video.source == 'direct' and video.video_url %}
									{% set video_source = video.video_url %}
								{% endif %}

								{% if video_source %}
									<div class="item" data-source="{{ video.source }}" data-video="{{ video_source }}">
										<div class="item-card alpha">
											<div class="item-head">
												<div class="item-tag">
													<div class="item-square"></div>
													<small>VIDEO</small>
												</div>

												<p class="lg">{{ video.title }}</p>
											</div>

											<div class="item-media">
												<div class="item-play">
													<img src="{{ function('svg', 'play') }}" loading="lazy" alt="play button">
												</div>

												<div class="item-thumbnail">
													{% if video.thumbnail %}
														{% include 'components/image.twig' with {
                                                            image: video.thumbnail,
                                                            size: 'large'
                                                        } %}
													{% else %}
														<img src="{{ function('png', 'thumbnail') }}" loading="lazy" alt="default qcx thumbnail placeholder"/>
													{% endif %}
												</div>
											</div>
										</div>
									{% endif %}
								</div>
							{% endfor %}
						</div>

						<dialog class="dg">
							<div class="dg-outer">
								<div class="dg-inner"></div>

								<div class="dg-close">
									<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M18 7.15063L13.1506 12L18 16.8494L16.8494 18L12 13.1506L7.15063 18L6 16.8494L10.8494 12L6 7.15063L7.15063 6L12 10.8494L16.8494 6L18 7.15063Z" fill="white"/>
									</svg>
								</div>
							</div>
						</dialog>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
</section>
