<section class="{{ block.slug }} {{ block.className }} {{ fields.dark_mode ? "dark" }} dark:bg-black border-t-[1px] mt-[-1px] border-b-[1px] border-light-grey dark:border-dark-grey">
	{% if block.anchor %}
		<div class="section-anchor" id="{{ block.anchor ?? block.id }}"></div>
	{% endif %}

	{% set pt = fields.padding_top and fields.padding_top != "unset" ? fields.padding_top : "st-xl" %}
	{% set pb = fields.padding_top and fields.padding_bottom != "unset" ? fields.padding_bottom : "sb-none" %}

	{% set is_latest = fields.source == "latest" %}
	{% set is_related = fields.source == "related" %}

	{% set show_latest_posts = is_latest and latest_posts|length %}
	{% set show_related_posts = is_related and latest_posts|length %}

	{% set data_source = latest_posts %}

	<div class="{{ pt }} {{ pb }}">
		<div class="flex flex-col">
            <div class="flex flex-col ~gap-[2rem]/[3rem]">
                {% if fields.heading or fields.cta %}
                    <div class="container">
                        <div class="flex justify-between gap-[1.25rem] max-md:flex-col">
                            {% if fields.heading %}
                                <h2 class="block-heading alpha dark:text-white md:flex-1 min-w-0 max-w-[55.25rem]">
                                    {{ fields.heading }}
                                </h2>
                            {% endif %}

                            {% include 'components/cta.twig' with {
                                class: "md:self-end shrink-0 filled " ~ (fields.dark_mode ? "teal" : "black"),
                                cta: fields.cta,
                                icon: true
                            } %}
                        </div>
                    </div>
                {% endif %}

                {% if fields.variation == "three-grid" and (fields.posts_three|length or show_latest_posts or show_related_posts) %}
                    <div class="container no-pd">
                        <div class="grid md:grid-cols-2 lg:grid-cols-3 lg:border-l-[1px] border-light-grey dark:border-dark-grey">
                            {% if not is_latest and not is_related %}
                                {% set data_source = fields.posts_three %}
                            {% endif %}

                            {% for item in data_source %}
                                {% include 'components/card.twig' with {
                                    data: item,
                                    class: "three",
                                    source: fields.source
                                } %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                {% if fields.variation == "special-grid" and (fields.posts_special|length or show_latest_posts) %}
                    <div class="container no-pd">
                        <div class="max-lg:flex max-lg:flex-col lg:grid lg:grid-cols-2 lg:border-l-[1px] border-light-grey dark:border-dark-grey">
                            {% if not is_latest %}
                                {% set data_source = fields.posts_special %}
                            {% endif %}

                            {% for item in data_source %}
                                {% if loop.index == 1 %}
                                    {% include 'components/card.twig' with {
                                        data: item,
                                        class: "special is-featured",
                                        source: fields.source,
                                        show_desc: true
                                    } %}
                                {% endif %}
                            {% endfor %}

                            {% if data_source|length > 1 %}
                                <div class="max-md:flex max-md:flex-col md:grid md:grid-cols-2">
                                    {% for item in data_source %}
                                        {% if loop.index > 1 %}
                                            {% include 'components/card.twig' with {
                                                data: item,
                                                class: "special",
                                                source: fields.source
                                            } %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            </div>

			{% if fields.cta_secondary and data_source|length %}
				<div class="st-xs sb-xs border-t-[1px] border-light-grey dark:border-dark-grey">
					<div class="container flex items-center justify-center">
						{% include 'components/cta.twig' with {
                            class: "md:self-end shrink-0 filled " ~ (fields.dark_mode ? "teal" : "black"),
                            cta: fields.cta_secondary,
                            icon: true
                        } %}
					</div>
				</div>
			{% endif %}

			{% if not data_source|length %}
				<div class="container">
					<h6 class="text-center text-black-75 dark:text-white-75 sb-xl {{ not fields.heading and not fields.cta ? " st-xl" }}">No posts found.</h6>
				</div>
			{% endif %}
		</div>
	</div>
</section>
