<section class="{{ block.slug }} {{ block.className }} {{ fields.dark_mode ? "dark" }} dark:bg-black border-b-[1px] border-light-grey dark:border-dark-grey mb-[-1px]">
	{% if block.anchor %}
		<div class="section-anchor" id="{{ block.anchor ?? block.id }}"></div>
	{% endif %}

	{% set pt = fields.padding_top and fields.padding_top != "unset" ? fields.padding_top : "st-xxl" %}
	{% set pb = fields.padding_bottom and fields.padding_bottom != "unset" ? fields.padding_bottom : "sb-lg" %}

	<div class="{{ pt }} {{ pb }}">
		<div class="container">
			<div class="flex flex-col ~gap-[1rem]/[1.5rem]">
				{% if fields.heading %}
					<h1 class="block-heading alpha dark:text-white max-w-[45.3125rem]">
						{{ fields.heading }}
					</h1>
				{% endif %}

				{% if fields.paragraph or fields.subtext %}
					<div class="flex max-lg:flex-col justify-between gap-[2rem]">
						{% if fields.paragraph %}
							<p class="block-para alpha text-black-75 dark:text-white-75 max-w-[38.75rem] flex-1">
								{{ fields.paragraph }}
							</p>
						{% endif %}

						{% if fields.subtext %}
							<small class="text-rust shrink-0">{{ fields.subtext }}</small>
						{% endif %}
					</div>
				{% endif %}
			</div>
		</div>
	</div>
</section>

