<section class="{{ block.slug }} {{ block.className }} min-h-[110vh] flex items-center justify-center">
	{% if block.anchor %}
		<div class="section-anchor" id="{{ block.anchor ?? block.id }}"></div>
	{% endif %}

	{% set pt = fields.padding_top and fields.padding_top != "unset" ? fields.padding_top : "st-xxl" %}
	{% set pb = fields.padding_top and fields.padding_bottom != "unset" ? fields.padding_bottom : "sb-xxl" %}

	<div class="{{ pt }} {{ pb }} relative z-[2]">
		<div class="container">
			<div class="flex flex-col ~gap-[2.5rem]/[4rem]">
				<div class="flex flex-col ~gap-[1rem]/[1.5rem] ~md:~px-[0rem]/[7rem]">
					{% if fields.logo %}
						<div class="block-logo alpha w-[12.5rem] h-[3.125rem] aspect-[250/50]">
							{% include 'components/image.twig' with {
                                'image': fields.logo,
                                'size': "full",
                            } %}
						</div>
					{% endif %}

					<div class="block-heading alpha flex md:flex-row flex-col ~gap-[12.5rem]/[1.25rem] items-start md:items-end justify-between">
						{% if fields.heading %}
							<h2 class="max-w-[47.25rem] text-white">{{fields.heading}}</h2>
						{% endif %}
                    
                        {% include 'components/cta.twig' with {
                            class : 'filled white',
                            cta: fields.cta, 
                        } %}
					</div>
				</div>

				{% if fields.items %}
					<div class="item-cards-container">
						<div class="item-cards left">
							{% for item in fields.items|filter((v, k) => k in [0, 2]) %}
								<div class="item-card alpha">
									{% if item.image %}
										<div class="item-head">
											<div class="item-image">
												{% include 'components/image.twig' with {
                                                    'class': "object-contain",
                                                    'image': item.image,
                                                    'size': "full",
                                                } %}
											</div>

											{% if item.title %}
												<h5 class="block md:hidden">{{item.title}}</h5>
											{% endif %}
										</div>
									{% endif %}

									<div class="item-body">
										{% if item.title %}
											<h5 class="hidden md:block">{{item.title}}</h5>
										{% endif %}

										{% if item.description %}
											<p>{{item.description}}</p>
										{% endif %}
									</div>
								</div>
							{% endfor %}

						</div>

						<div class="item-cards right">
							{% for item in fields.items|filter((v, k) => k in [1, 3]) %}
								<div class="item-card alpha">
									{% if item.image %}
										<div class="item-head">
											<div class="item-image">
												{% include 'components/image.twig' with {
                                                    'class': "object-contain",
                                                    'image': item.image,
                                                    'size': "full",
                                                } %}
											</div>

											{% if item.title %}
												<h5 class="block md:hidden">{{item.title}}</h5>
											{% endif %}
										</div>
									{% endif %}

									<div class="item-body">
										{% if item.title %}
											<h5 class="hidden md:block">{{item.title}}</h5>
										{% endif %}

										{% if item.description %}
											<p>{{item.description}}</p>
										{% endif %}
									</div>
								</div>
							{% endfor %}

						</div>
					</div>
				{% endif %}

			</div>
		</div>
	</div>

	<div class="bg-graphic absolute top-0 left-0 w-full h-full bg-blue">
		<div class="absolute top-0 bottom-0 left-0 right-0 w-full h-full">
			<img src="{{ function("png", "grainy-bg-blue" )}}" loading="eager" alt="grainy-bg-blue">
		</div>

		<img class="mix-blend-multiply sticky top-0 object-cover" src="{{function("png", "across-tile-bg")}}" loading="eager" alt="across-tile-bg">
	</div>
</section>
