{% if fields.group|length %}
	<section class="{{ block.slug }}">
		{% if block.anchor %}
			<div class="section-anchor" id="{{ block.anchor ?? block.id }}"></div>
		{% endif %}

		<div class="flex">
			<div class="lg:flex-1 lg:basis-[65.625rem] border-r-[1px] border-light-grey">
				{% for group in fields.group %}
					<div class="~py-[2.5rem]/[5rem] ~px-[1rem]/[3rem] border-b-[1px] border-light-grey flex flex-col ~gap-[1rem]/[1.5rem]" {{ group.anchor ? 'id="' ~ group.anchor ~ '"' }}>
						{% if group.title or group.description %}
							<div class="flex flex-col ~gap-[0.5rem]/[0.75rem]">
								{% if group.title %}
									<h4>{{ group.title }}</h4>
								{% endif %}

								{% if group.description %}
									<p class="text-black-75">{{ group.description }}</p>
								{% endif %}
							</div>
						{% endif %}

						{% for content in group.content %}
							{% if content.acf_fc_layout == 'title_and_table' %}
								<div class="flex flex-col ~gap-[0.5rem]/[0.75rem] relative">
									{% if content.anchor %}
										<div class="group-anchor pointer-events-none absolute top-0 left-0 translate-y-[-80px] w-full h-full" id="{{- content.anchor|replace({' ': ''}) -}}"></div>
									{% endif %}

									{% if content.title %}
										<p class="lg">{{ content.title }}</p>
									{% endif %}

									{% for tbl_item in content.tables %}
										{% set table = tbl_item.table %}

										<table>
											{% if table.use_header %}
												<thead>
													<tr>
														{% for headCell in table.header %}
															<th style="{{ 'width: calc(100% / ' ~ table.header|length ~ ')' }}">{{ headCell.c }}</th>
														{% endfor %}
													</tr>
												</thead>
											{% endif %}

											<tbody>
												{% for row in table.body %}
													<tr>
														{% for cell in row %}
															<td>{{ cell.c }}</td>
														{% endfor %}
													</tr>
												{% endfor %}
											</tbody>
										</table>
									{% endfor %}
								</div>
							{% endif %}

							{% if content.acf_fc_layout == 'title_and_description' %}
								<div class="flex flex-col gap-[0.25rem] relative">
									{% if content.anchor %}
										<div class="group-anchor pointer-events-none absolute top-0 left-0 translate-y-[-80px] w-full h-full" id="{{- content.anchor|replace({' ': ''}) -}}"></div>
									{% endif %}

									{% if content.title %}
										<p class="lg">{{ content.title }}</p>
									{% endif %}

									{% if content.description %}
										<div class="rich-text is-basic text-black-75">
											{{ content.description }}
										</div>
									{% endif %}
								</div>
							{% endif %}

							{% if content.acf_fc_layout == 'links' %}
								<div class="flex max-sm:flex-col flex-wrap ~gap-[0.5rem]/[0.75rem]">
									{% for cta in content.ctas %}
										{% set type = cta.type == "primary" ? "filled black" : "bordered black" %}

										{% include 'components/cta.twig' with {
                                            'class' : type,
                                            'cta': cta.cta, 
                                            'icon': true,
                                        } %}
									{% endfor %}
								</div>
							{% endif %}
						{% endfor %}
					</div>
				{% endfor %}
			</div>

			<div class="~py-[2.5rem]/[5rem] ~px-[1rem]/[3rem] lg:flex-1 max-lg:hidden lg:basis-[24.375rem] flex flex-col gap-[1.5rem] lg:sticky top-0 h-fit">
				{% for group in fields.group %}
					{% set parent_index = loop.index %}
					<div class="flex flex-col gap-[0.75rem]">
						{% if group.anchor %}
							<small>{{ group.anchor }}</small>
						{% endif %}

						{% for content in group.content %}
							{% set child_index = loop.index %}

							{% if content.acf_fc_layout != 'links' %}
								{% if content.anchor %}
									<a class="item {{ parent_index == 1 and child_index == 1 ? " active" }}" href="#{{- content.anchor|replace({' ': ''}) -}}">{{ content.anchor }}</a>
								{% endif %}
							{% endif %}
						{% endfor %}
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
{% endif %}
