<section class="{{ block.slug }} {{ block.className }} bg-black border-b-[1px] border-b-dark-grey">
	{% if block.anchor %}
		<div class="section-anchor" id="{{ block.anchor ?? block.id }}"></div>
	{% endif %}

	{% set pt = fields.padding_top and fields.padding_top != "unset" ? fields.padding_top : "st-xs" %}
	{% set pb = fields.padding_top and fields.padding_bottom != "unset" ? fields.padding_bottom : "sb-xs" %}

	<div class="{{ pt }} {{ pb }}">
		<div class="container">
			<div class="flex ~gap-[2rem]/[8.625rem] max-lg:flex-col items-center">
				{% if fields.heading or fields.paragraph or field.cta %}
					<div class="flex flex-col ~gap-[1rem]/[1.5rem] lg:basis-[34.125rem] lg:flex-1 relative justify-center max-lg:w-full">
						{% if fields.eyebrow or fields.heading %}
							<div class="flex flex-col ~gap-[0.5rem]/[0.75rem]">
								{% if fields.eyebrow %}
									<small class="text-rust">{{ fields.eyebrow }}</small>
								{% endif %}

								{% if fields.heading %}
									<h1 class="block-heading alpha text-white">
										{{ fields.heading }}
									</h1>
								{% endif %}
							</div>
						{% endif %}

						{% if fields.paragraph %}
							<p class="block-para alpha text-white-75">
								{{ fields.paragraph }}
							</p>
						{% endif %}

						{% if fields.ctas|length %}
							<div class="flex gap-[0.75rem] flex-wrap">
								{% for cta in fields.ctas %}
									{% include 'components/cta.twig' with {
                                        'class' : 'filled ' ~ cta.type,
                                        'cta': cta.cta, 
                                        'icon': true,
                                    } %}
								{% endfor %}
							</div>
						{% endif %}
					</div>
				{% endif %}

				<div class="lg:flex-1 lg:basis-[41.25rem] max-lg:w-full">
					{% if fields.media_type == "image" and fields.media_image %}
						<div class="media-container image">
							{% include 'components/image.twig' with {
                                'image': fields.media_image,
                                'size': "large",
                                'loading': "eager",
                            } %}
						</div>
					{% endif %}

					{% if fields.media_type == "video" and fields.media_video %}
						<div class="media-container video" data-video="{{ fields.media_video }}"></div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</section>

