<section class="{{ block.slug }} {{ block.className }} bg-black border-b-[1px] border-b-dark-grey">
	{% if block.anchor %}
		<div class="section-anchor" id="{{ block.anchor ?? block.id }}"></div>
	{% endif %}

	{% set pt = fields.padding_top and fields.padding_top != "unset" ? fields.padding_top : "st-xxl" %}
	{% set pb = fields.padding_top and fields.padding_bottom != "unset" ? fields.padding_bottom : "sb-xxl" %}

	<div class="container">
		<div class="{{ pt }} {{ pb }}">
			<div class="flex flex-col  ~gap-[2rem]/[3rem]">
				{% if fields.eyebrow or fields.heading or fields.paragraph %}
					<div class="flex flex-col items-center ~gap-[1rem]/[1.5rem] text-center">
						{% if fields.eyebrow or fields.heading %}
							<div class="flex flex-col ~gap-[0.5rem]/[0.75rem] items-center">
								{% if fields.eyebrow %}
									<small class="text-rust text-center mx-auto">{{ fields.eyebrow }}</small>
								{% endif %}

								{% if fields.heading %}
									<h2 class="block-heading alpha text-white w-full max-w-[55.25rem]">
										{{ fields.heading }}
									</h2>
								{% endif %}
							</div>
						{% endif %}

						{% if fields.paragraph %}
							<p class="text-white-75 alpha block-para max-w-[41.125rem]">
								{{fields.paragraph}}
							</p>
						{% endif %}
					</div>
				{% endif %}

				<div class="flex flex-col-reverse {{fields.is_inverted ? " md:flex-row-reverse" : " md:flex-row"}} w-full h-full border-[1px] border-dark-grey rounded-[0.25rem]">
					{% if fields.item %}
						<div class="items flex flex-col md:flex-1 md:basis-[35.625rem] max-md:border-t-[1px] max-md:border-dark-grey">
							{% for item in fields.item %}
								{% if item.title or item.description or item.link %}
									<div class="flex flex-col ~gap-[0.5rem]/[0.75rem] ~p-[1rem]/[1.5rem] border-b-[1px] border-dark-grey">
										{% if item.title or item.description %}
											<div class="flex flex-col gap-[0.25rem]">
												{% if item.title %}
													<p class="lg text-white">{{ item.title }}</p>
												{% endif %}

												{% if item.description %}
													<p class="text-white-75">{{ item.description }}</p>
												{% endif %}
											</div>
										{% endif %}

										{% include 'components/cta.twig' with {
                                            'class' : 'plain teal',
                                            'cta': item.link,
                                            'plain': true,
                                            'icon': true,
                                        } %}
									</div>
								{% endif %}
							{% endfor %}
						</div>
					{% endif %}

					<div class="md:flex-1 md:basis-[48.375rem] ~p-[1rem]/[1.5rem] {{ fields.is_inverted ? " md:border-r-[1px]" : " md:border-l-[1px]"}} border-dark-grey">
						{% if fields.media_type == "image" and fields.media_image %}
							<div class="media-container image">
								{% include 'components/image.twig' with {
                                    'image': fields.media_image,
                                    'size': "large",
                                    'loading': "eager",
                                } %}
							</div>
						{% endif %}

						{% if fields.media_type == "video" and fields.media_video %}
							<div class="media-container video" data-video="{{ fields.media_video }}"></div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
