<section class="{{ block.slug }} {{ block.className }} bg-blue">
	{% if block.anchor %}
		<div class="section-anchor" id="{{ block.anchor ?? block.id }}"></div>
	{% endif %}

	{% set pt = fields.padding_top and fields.padding_top != 'unset' ? fields.padding_top : '~pt-[4.5rem]/[8.75rem]' %}
	{% set pb = fields.padding_bottom and fields.padding_bottom != 'unset' ? fields.padding_bottom : 'sb-xxl' %}

	<div class="{{ pt }} {{ pb }} relative z-[2]">
		<div class="container">
			<div class="grid lg:grid-cols-2 ~gap-[1.25rem]/[4rem]">
				<div class="flex flex-col ~gap-[2.5rem]/[4rem]">
					<div class="flex flex-col ~gap-[1.25rem]/[2rem]">
						{% if fields.heading %}
							<h2 class="block-title alpha text-white">{{ fields.heading }}</h2>
						{% endif %}

						{% if fields.paragraph %}
							<p class="block-para alpha text-white w-full md:pl-[6.875rem] md:pr-[1.625rem]">{{ fields.paragraph }}</p>
						{% endif %}
					</div>

					{% if fields.featured_posts|length %}
						<div class="item">
							{% for item in fields.featured_posts %}
								{% if loop.index == 1 %}
									{% set post_id = item.ID ?? item.id %}
									{% set post_title = item.post_title ?? item.title %}
									{% set post_link = function('get_permalink', post_id) %}
									{% set post_thumbnail = function('get_the_post_thumbnail_url', post_id, 'large') %}

									{% set post_type_slug = function('get_post_type', post_id) %}
									{% set categories_raw = function("get_the_terms", post_id, post_types[post_type_slug].tax) %}
									{% set categories = [] %}

									{% for cat in categories_raw %}
										{% set categories = categories | merge([cat.name]) %}
									{% endfor %}

                                    {% set categories = categories | join(', ') %}

									{% include 'components/card.twig' with {
                                        custom_class: "at-hero",
                                        title: post_title,
                                        permalink: post_link,
                                        type: categories,
                                        thumbnail: post_thumbnail,
                                        animated: true,
                                        loading: "eager"
                                    } %}
								{% endif %}
							{% endfor %}
						</div>
					{% endif %}
				</div>

				<div class="flex flex-col ~gap-[1.25rem]/[2rem]">
					{% if fields.featured_posts|length %}
						<div class="item">
							{% for item in fields.featured_posts %}
								{% if loop.index == 2 %}
									{% set post_id = item.ID ?? item.id %}
									{% set post_title = item.post_title ?? item.title %}
									{% set post_link = function('get_permalink', post_id) %}
									{% set post_thumbnail = function('get_the_post_thumbnail_url', post_id, 'large') %}

									{% set post_type_slug = function('get_post_type', post_id) %}
									{% set categories_raw = function("get_the_terms", post_id, post_types[post_type_slug].tax) %}
									{% set categories = [] %}

									{% for cat in categories_raw %}
										{% set categories = categories | merge([cat.name]) %}
									{% endfor %}

                                    {% set categories = categories | join(', ') %}

									{% include 'components/card.twig' with {
                                        custom_class: "at-hero",
                                        title: post_title,
                                        permalink: post_link,
                                        type: categories,
                                        thumbnail: post_thumbnail,
                                        animated: true,
                                        loading: "eager"
                                    } %}
								{% endif %}
							{% endfor %}
						</div>
					{% endif %}

					{% if fields.form_shortcode %}
                        <div id="form-container">
                            <div class="form block-form alpha newsletter">
                                {% if fields.form_title %}
                                    <p class="text-white">
                                        {{ fields.form_title}}
                                    </p>
                                {% endif %}

                                <div class="form-inner">
                                    {{ function('do_shortcode', fields.form_shortcode) }}
                                </div>
                            </div>
                        </div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>

	<div class="absolute top-0 left-0 h-full w-full pointer-events-none z-[1]">
		<svg class="absolute center-xy w-auto h-auto min-h-full min-w-full" xmlns="http://www.w3.org/2000/svg" width="1440" height="900" viewbox="0 0 1440 900" fill="none">
			<g filter="url(#filter0_n_8588_8815)">
				<rect width="1440" height="900" fill="#206EEC"/>
			</g>
			<defs>
				<filter id="filter0_n_8588_8815" x="0" y="0" width="1440" height="900" filterunits="userSpaceOnUse" color-interpolation-filters="sRGB">
					<feFlood flood-opacity="0" result="BackgroundImageFix"/>
					<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
					<feTurbulence type="fractalNoise" basefrequency="0.66666668653488159 0.66666668653488159" stitchtiles="stitch" numoctaves="3" result="noise" seed="514"/>
					<feColorMatrix in="noise" type="luminanceToAlpha" result="alphaNoise"/>
					<feComponentTransfer in="alphaNoise" result="coloredNoise1">
						<feFuncA type="discrete" tablevalues="1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 "/>
					</feComponentTransfer>
					<feComposite operator="in" in2="shape" in="coloredNoise1" result="noise1Clipped"/>
					<feFlood flood-color="rgba(0, 0, 0, 0.1)" result="color1Flood"/>
					<feComposite operator="in" in2="noise1Clipped" in="color1Flood" result="color1"/>
					<feMerge result="effect1_noise_8588_8815">
						<feMergeNode in="shape"/>
						<feMergeNode in="color1"/>
					</feMerge>
				</filter>
			</defs>
		</svg>
	</div>
</section>
