<section class="{{ block.slug }} {{ block.className }} bg-black border-b-[1px] border-dark-grey">
	{% if block.anchor %}
		<div class="section-anchor" id="{{ block.anchor ?? block.id }}"></div>
	{% endif %}

	<div class="container no-pd">
		<div class="flex flex-col items-start ~gap-[2rem]/[3rem] self-stretch st-xl">
			{% if fields.heading or fields.paragraph %}
				<div class="flex flex-col items-center gap-[1.5rem] self-stretch">
					{% if fields.heading %}
						<h2 class="text-white text-center max-w-[55.25rem]">{{ fields.heading }}</h2>
					{% endif %}

					{% if fields.paragraph %}
						<p class="text-white-75 text-center max-w-[41.125rem]">
							{{ fields.paragraph }}
						</p>
					{% endif %}
				</div>
			{% endif %}

			{% if fields.items|length %}
				<div class="flex self-stretch border-t border-dark-grey">
					<div class="lg:basis-[30rem] lg:flex-1 ~px-[1rem]/[3rem] max-lg:hidden border-r-[1px] border-dark-grey">
						<div class="st-xl sb-xl flex flex-col gap-[0.75rem] lg:sticky top-0">
							{% for item in fields.items %}
								{% if item.eyebrow %}
									<a class="item {{ loop.index == 1 ? " active" }}" href="" data-index="{{ loop.index }}">
										<p class="button text-white">{{ item.eyebrow }}</p>
									</a>
								{% endif %}
							{% endfor %}
						</div>
					</div>

					<div class="lg:basis-[60rem] lg:flex-1 flex flex-col">
						{% for item in fields.items %}
							{% if item.eyebrow %}
								<div class="content-group st-xl sb-xs flex flex-col ~gap-[1.25rem]/[2rem] border-b-[1px] border-b-dark-grey last:border-none" data-index={{ loop.index }}>
									<div class="flex flex-col items-start ~gap-[1.25rem]/[2rem] ~px-[1rem]/[3rem] self-stretch">
										{% if item.eyebrow or item.paragraph or item.title %}
											<div class="flex flex-col items-start ~gap-[1rem]/[1.5rem] self-stretch">
												{% if item.eyebrow or item.title %}
													<div class="flex flex-col items-start ~gap-[0.5rem]/[0.75rem] self-stretch">
														{% if item.eyebrow %}
															<small class="text-rust">{{ item.eyebrow }}</small>
														{% endif %}

														{% if item.title %}
															<h3 class="text-white">{{ item.title }}</h3>
														{% endif %}
													</div>
												{% endif %}

												{% if item.paragraph %}
													<p class="text-white-75">{{ item.paragraph }}</p>
												{% endif %}
											</div>
										{% endif %}

										{% if item.bullets %}
											<div class="grid md:grid-cols-2 lg:grid-cols-3 ~gap-[1.25rem]/[2rem]">
												{% for item in item.bullets %}
													<div class="flex items-start ~gap-[0.5rem]/[0.75rem] self-stretch">
														<div class="p-[0.25rem] rounded-[100%] border-[1px] border-dark-grey bg-neutral-700 shrink-0 h-[1.375rem] w-[1.375rem] flex items-center justify-center">
															<svg class="h-[0.875rem] w-[0.875rem]" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewbox="0 0 14 14" fill="none">
																<path d="M11.375 4.08301L5.54172 9.91638L2.625 6.99967" stroke="white" stroke-width="1.5"/>
															</svg>
														</div>

														<p class="text-white-75">{{ item.description }}</p>
													</div>
												{% endfor %}
											</div>
										{% endif %}

										{% include 'components/cta.twig' with {
                                            class: 'plain teal',
                                            cta: item.cta, 
                                            plain: true,
                                            icon: true,
                                        } %}
									</div>

									{% if item.images %}
										<div class="grid grid-cols-1 lg:grid-cols-2 ~gap-[.625rem]/[1.5rem] ~px-[1rem]/[1.5rem] self-stretch">
											{% if item.images|length > 1 %}
												{% for item in item.images %}
													{% include 'components/image.twig' with {
                                                        class: "w-full h-auto aspect-[444/385] ~min-h-[18.125rem]/[24.125rem] rounded-[0.25rem] object-top",
                                                        image: item.image,
                                                        'size': [444, 386],
                                                    } %}
												{% endfor %}
											{% else %}
												{% for item in item.images %}
													{% include 'components/image.twig' with {
                                                        class: "w-full h-auto aspect-[912/385] ~min-h-[8.875rem]/[24.125rem] rounded-[0.25rem] col-span-2 object-top",
                                                        image: item.image,
                                                        'size': [912, 386],
                                                    } %}
												{% endfor %}
											{% endif %}
										</div>
									{% endif %}
								</div>
							{% endif %}
						{% endfor %}
					</div>
				</div>
			{% endif %}
		</div>
	</div>
</section>
