{% if fields.paragraph %}
    <section class="{{ block.slug }} {{ block.className }} {{ fields.dark_mode ? "dark" }} dark:bg-black border-b-[1px] border-light-grey dark:border-dark-grey">
        {% if block.anchor %}
            <div class="section-anchor" id="{{ block.anchor ?? block.id }}"></div>
        {% endif %}

        {% set pt = fields.padding_top and fields.padding_top != "unset" ? fields.padding_top : "st-xxl" %}
        {% set pb = fields.padding_top and fields.padding_bottom != "unset" ? fields.padding_bottom : "sb-xxl" %}

        <div class="container">
            <div class="{{ pt }} {{ pb }}">
                {% set words = fields.paragraph|split(' ') %}
                <h3 class="max-w-[55.25rem] mx-auto flex flex-wrap">{% for word in words %}<span class="word">{{ word }}&nbsp;</span>{% endfor %}</h3>
            </div>
        </div>
    </section>
{% endif %}
