{% set background_image = fields.background %}
<section class="{{ block.slug }} {{ block.className }}">
	{% if block.anchor %}
		<div class="section-anchor" id="{{ block.anchor ?? block.id }}"></div>
	{% endif %}

	{% if fields.items %}
		<div class="relative flex flex-col">
			{% for item in fields.items %}
				{% set first_layer = (loop.index == 1 and fields.layout == "layout_a") or (loop.index == 2 and fields.layout == "layout_b") %}
				{% set second_layer = (loop.index == 2 and fields.layout == "layout_a") or (loop.index == 1 and fields.layout == "layout_b") %}

				<div class="row">
					<div class="col left {{ first_layer ? " overlay" }}">
						{%- if first_layer -%}
							{% if item.title %}
								<small class="eyebrow text-white">{{ item.title }}</small>
							{% endif %}

							{% if item.description %}
								<h4 class="text-white">{{ item.description }}</h4>
							{% endif %}
						{%- endif -%}
					</div>

					<div class="col right {{ second_layer ? " overlay" }}">
						{%- if second_layer -%}
							{% if item.title %}
								<small class="eyebrow text-white">{{ item.title }}</small>
							{% endif %}

							{% if item.description %}
								<h4 class="text-white">{{ item.description }}</h4>
							{% endif %}
						{%- endif -%}
					</div>
				</div>
			{% endfor %}

			{% if bg %}
				<div class="absolute top-0 left-0 h-full w-full">
					{% include 'components/image.twig' with {
                        'image': bg,
                        'size': "full",
                    } %}
				</div>
			{% endif %}
		</div>
	{% endif %}
</section>
