<section class="{{ block.slug }} {{ block.className }} border-b border-b-dark-grey bg-black">
	{% if block.anchor %}
		<div class="section-anchor" id="{{ block.anchor ?? block.id }}"></div>
	{% endif %}

	<div class="relative">
		<div class="w-full relative z-[3]">
			<div class="container lg:px-0">
				<div class="flex">
					<div class="lg:basis-[52.8125rem] lg:flex-1 lg:border-r-[1px] border-r-white-20 flex flex-col">
						<div class="w-full ~h-[27.25rem]/[34.125rem]"></div>
					</div>

					<div class="max-lg:hidden lg:basis-[37.25rem] lg:flex-1">
						<div class="w-full ~h-[27.25rem]/[34.125rem]"></div>
					</div>
				</div>

				<div class="flex relative max-lg:gap-[2rem] max-lg:pb-[3.5rem] max-lg:flex-col">
					<div class="max-lg:hidden absolute top-0 left-0 w-screen h-[1px] bg-white-20 center-x"></div>

					<div class="lg:basis-[52.8125rem] lg:flex-1 lg:border-r-[1px] border-r-white-20 flex flex-col">
						<div class="lg:pl-[3rem] lg:pt-[6.25rem] lg:pb-[4rem] lg:pr-[1.625rem]">
							{% if fields.heading %}
								<h1 class="block-heading alpha text-white">
									{{ fields.heading }}
								</h1>
							{% endif %}
						</div>
					</div>

					<div class="lg:basis-[37.25rem] lg:flex-1">
						<div class="lg:pl-[5rem] lg:pt-[4rem] lg:pb-[4rem] lg:pr-[3rem] flex flex-col ~gap-[1rem]/[1.5rem]">
							{% if fields.paragraph %}
								<p class="block-para alpha text-white-75">
									{{ fields.paragraph }}
								</p>
							{% endif %}

							{% include 'components/cta.twig' with {
                                'class' : 'filled teal',
                                'cta': fields.cta, 
                                'icon': true,
                            } %}
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="bg-black absolute top-0 left-0 w-full h-full pointer-events-none z-[2] opacity-30"></div>

		{% if fields.media_type == "image" and fields.media_image %}
			<div class="media-container image">
				{% include 'components/image.twig' with {
                    'image': fields.media_image,
                    'size': [1920, 1080],
                    'loading': "eager",
                } %}
			</div>
		{% endif %}

		{% if fields.media_type == "video" and fields.media_video %}
			<div class="media-container video" data-video="{{ fields.media_video }}"></div>
		{% endif %}
	</div>
</section>
