<section class="{{ block.slug }} {{ block.className }}">
	{% if block.anchor %}
		<div class="section-anchor" id="{{ block.anchor ?? block.id }}"></div>
	{% endif %}

	{% if authors|length %}
		<div class="authors border-y-[1px] border-light-grey my-[-0.0625rem]">
			{% for author in authors %}
                {% set image = function("get_post_thumbnail_id", author.ID) %}
                {% set linkedin = function("get_field", "author_linkedin", author.ID) %}

				<div class="author relative z-[2] flex flex-col ~gap-[0.5rem]/[0.75rem] ~p-[1rem]/[1.5rem] border-r-[1px] border-y-[1px] border-light-grey bg-white my-[-0.0625rem]">
                    {% if image %}
                        <div class="relative h-auto aspect-square">
                            {% include 'components/image.twig' with {
                                'class': "rounded-[0.25rem]",
                                'image': image,
                                'size': "large",
                            } %}

                            {% if linkedin %}
                                <a href="{{ linkedin }}" target="_blank" rel="nofollow noreferrer noopener" class="rounded-[0.25rem] h-[2.25rem] w-[2.25rem] flex justify-center items-center border-[1px] border-white-20 backdrop-blur-[1.25rem] bg-white/[0.01] absolute right-[0.75rem] bottom-[0.75rem]">
                                    <svg class="h-[1.5rem] w-[1.5rem]" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M6.4668 21.2016H2.4668V9.20156H6.4668V21.2016ZM4.4676 7.60156C3.3612 7.60156 2.4668 6.70476 2.4668 5.60076C2.4668 4.49676 3.3628 3.60156 4.4676 3.60156C5.57 3.60156 6.4668 4.49836 6.4668 5.60076C6.4668 6.70476 5.57 7.60156 4.4676 7.60156ZM20.8668 21.2016H17.0212V15.3616C17.0212 13.9688 16.9948 12.1776 15.022 12.1776C13.0196 12.1776 12.7116 13.6944 12.7116 15.2608V21.2016H8.8668V9.19276H12.558V10.8336H12.61C13.1236 9.88956 14.3788 8.89436 16.2508 8.89436C20.1468 8.89436 20.8668 11.3816 20.8668 14.6152V21.2016Z" fill="white"/>
                                    </svg>
                                </a>
                            {% endif %}
                        </div>
                    {% endif %}

					{% if author.title %}
						<h4>{{ author.title }}</h4>
					{% endif %}

					<a class="btn plain rust has-arrow" type="button" href="{{ function("get_permalink", author.ID) }}">
						<p>View articles</p>

						<svg width="10" height="10" viewbox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 4.99946L4.99946 10L3.82882 8.82936L6.83087 5.82731H0V4.17161H6.83087L3.82882 1.17064L4.99946 0L10 4.99946Z" fill="#8BFFF7"/>
                        </svg>
					</a>
				</div>
			{% endfor %}

			{% if bg %}
				<div class="absolute top-0 left-0 h-full w-full">
					{% include 'components/image.twig' with {
                        'image': bg,
                        'size': "full",
                    } %}
				</div>
			{% endif %}
		</div>
	{% endif %}
</section>
