<section class="{{ block.slug }} {{ block.className }}">
	{% if block.anchor %}
		<div class="section-anchor" id="{{ block.anchor ?? block.id }}"></div>
	{% endif %}

	{% set pt = fields.padding_top and fields.padding_top != 'unset' ? fields.padding_top : 'st-xxl' %}
	{% set pb = fields.padding_bottom and fields.padding_bottom != 'unset' ? fields.padding_bottom : 'sb-xxl' %}

	<div class="container">
		<div class="{{ pt }} {{ pb }}">
			<div class="flex flex-col items-center ~gap-[2.5rem]/[4rem]">
				<div class="flex max-md:flex-col justify-between md:items-end w-full ~md:~px-[0rem]/[7rem] ~gap-[1.25rem]/[5.625rem]">
					<div class="flex flex-col items-start ~gap-[1.25rem]/[2rem]">
						{% if fields.heading %}
							<h2 class="block-title alpha max-w-[52rem]">{{ fields.heading }}</h2>
						{% endif %}

						{% if fields.paragraph %}
							<p class="block-duo alpha md:ml-[6.875rem] max-w-[30.5rem]">{{ fields.paragraph }}</p>
						{% endif %}
					</div>

					{% include 'components/cta.twig' with {
                        class: 'block-duo alpha filled blue md:shrink-0 md:self-end',
                        cta: fields.cta,
                    } %}
				</div>

				{% if fields.featured %}
					{% set featured_posts = fields.featured|slice(0, 3) %}

					<div class="grid md:grid-cols-2 lg:grid-cols-3 ~gap-[1rem]/[1.5rem]">
						{% for item in featured_posts %}
							{% set post_id = item.ID ?? item.id %}
							{% set post_title = item.post_title ?? item.title %}
							{% set post_link = function('get_permalink', post_id) %}
							{% set post_thumbnail = function('get_the_post_thumbnail_url', post_id, 'large') %}

							{% set post_type_slug = function('get_post_type', post_id) %}
							{% set post_type_obj = function('get_post_type_object', post_type_slug) %}
							{% set post_type_name = post_type_obj.labels.singular_name %}

							{% include 'components/card.twig' with {
                                title: post_title,
                                permalink: post_link,
                                type: post_type_name,
                                thumbnail: post_thumbnail,
                                animated: true,
                            } %}
						{% endfor %}
					</div>
				{% endif %}

			</div>
		</div>
	</div>
</section>
