<section class="{{ block.slug }} {{ block.className }}">
	{% if block.anchor %}
		<div class="section-anchor" id="{{ block.anchor ?? block.id }}"></div>
	{% endif %}

	{% set pt = fields.padding_top and fields.padding_top != 'unset' ? fields.padding_top : 'st-xxl' %}
	{% set pb = fields.padding_bottom and fields.padding_bottom != 'unset' ? fields.padding_bottom : 'sb-xxl' %}

	{% set has_posts = posts and posts|length %}

	<div class="{{ pt }} {{ pb }}">
		<div class="container">
			<div class="flex flex-col ~gap-[2rem]/[3rem]">
				<div class="flex max-md:flex-col ~gap-[1rem]/[1.5rem] flex-wrap">
					{% if fields.resource == "all" %}
						<div class="select" id="slx">
							<select placeholder="type">
								{% for key, item in types %}
									<option value="{{ key }}" {{ index == 0 ? 'selected' : '' }}>{{ item.label }}</option>
								{% endfor %}
							</select>

							<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M19 9.11772L12 16L5 9.11772L6.13683 8L12 13.7646L17.8632 8L19 9.11772Z" fill="black"/>
							</svg>
						</div>
					{% endif %}

					{% if fields.resource != "all" %}
						{% set categories = types[fields.resource].tax_items %}

						{% if categories|length %}
							<div class="select" id="slx">
								<select placeholder="category">
                                    <option value="all" selected>All</option>
                                    
									{% for cat in categories %}
										<option value="{{ cat.slug }}">{{ cat.name }}</option>
									{% endfor %}
								</select>

								<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M19 9.11772L12 16L5 9.11772L6.13683 8L12 13.7646L17.8632 8L19 9.11772Z" fill="black"/>
								</svg>
							</div>
						{% endif %}
					{% endif %}
				</div>

				{% if has_posts %}
					<div class="cards-outer">
						<div class="cards-container" data-per-page="{{ items_per_page }}">
							{% for item in posts %}
								{% set post_id = item.ID ?? item.id %}
								{% set post_title = item.post_title ?? item.title %}
								{% set post_link = function('get_permalink', post_id) %}
								{% set post_thumbnail = function('get_the_post_thumbnail_url', post_id, 'large') %}

								{% set post_type_slug = function('get_post_type', post_id) %}
								{% set post_type_obj = function('get_post_type_object', post_type_slug) %}

								{% set category_names = [] %}
                                {% set category_taxes = [] %}
								{% set category_raw = function('wp_get_post_terms', post_id, types[post_type_obj.name].tax) %}

								{% for category in category_raw %}
									{% set category_taxes = category_taxes | merge([category.slug]) %}
									{% set category_names = category_names | merge([category.name]) %}
								{% endfor %}

                                {% set category_names = category_names | join(', ') %}

								{% include 'components/card.twig' with {
                                    custom_class: "is-listing in-filter",
                                    title: post_title,
                                    permalink: post_link,
                                    type: category_names,
                                    type_slug: post_type_obj.name,
                                    show_type: true,
                                    thumbnail: post_thumbnail,
                                    cats: category_taxes
                                } %}
							{% endfor %}
						</div>

						<div class="empty">
							<div class="container">
								<h6 class="text-center">We're sorry, there aren't any posts that match what you're looking for.
									<br/>Try another a different filter or reset to see our latest posts.</h6>
							</div>
						</div>

						<div class="load-more">
							<div class="container">
								<div class="flex justify-center">
									<div class="btn filled blue" type="button">
										<p>
											<span class="front" data-original="Load">Load</span>
											<span class="back">Load&nbsp;</span>
										</p>
										<p>
											<span class="front" data-original="more">more</span>
											<span class="back">more</span>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				{% else %}
					<div class="empty active">
						<div class="container">
							<h6 class="text-center">There aren't any posts here just yet.
								<br/>Check back soon for updates.</h6>
						</div>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
</section>
