<section class="{{ block.slug }} {{ block.className }} bg-black">
	{% if block.anchor %}
		<div class="section-anchor" id="{{ block.anchor ?? block.id }}"></div>
	{% endif %}

	{% set pt = fields.padding_top and fields.padding_top != "unset" ? fields.padding_top : "st-xxl" %}
	{% set pb = fields.padding_top and fields.padding_bottom != "unset" ? fields.padding_bottom : "sb-xl" %}

	<div class="{{ pt }} {{ pb }}">
		<div class="outer-box flex flex-col ~gap-[2.5rem]/[3rem] relative">
			{% if fields.heading or fields.paragraph or fields.cta %}
				<div class="w-full relative z-[2] ~pt-[10.25rem]/[22.125rem] ~pb-[4.375rem]/[1.5rem] aspect-[224/111] flex">
					<div class="container relative z-[2] mt-auto">
						<div class="~px-[1rem]/[1.5rem]">
							<div class="content-box">
								{% if fields.heading %}
									<h2 class="block-heading alpha text-white">{{ fields.heading }}</h2>
								{% endif %}

								{% if fields.paragraph %}
									<p class="block-para text-white-75">{{ fields.paragraph }}</p>
								{% endif %}

								<div class="flex max-md:flex-col gap-[1rem] justify-between md:items-center">
									{% if fields.subtext %}
										<div class="flex items-center gap-[0.25rem] flex-wrap">
											{% if fields.subtext %}
												<small class="text-white md:max-w-[5.875rem] shrink-0 max-md:w-full">{{ fields.subtext }}</small>
											{% endif %}

											{% for logo in fields.logos %}
												{% include 'components/image.twig' with {
                                                    'class': "object-contain h-[4.5rem] w-[4.5rem]",
                                                    'image': logo.logo,
                                                    'size': "medium",
                                                } %}
											{% endfor %}
										</div>
									{% endif %}

									{% include 'components/cta.twig' with {
                                        'class' : 'filled teal',
                                        'cta': fields.cta, 
                                        'icon': true,
                                    } %}
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endif %}

			{% if fields.media_type == "image" and fields.media_image %}
				<div class="media-container-outer">
					<div class="container">
						<div class="media-container image">
							<div class="media-container-inner">
								{% include 'components/image.twig' with {
                                    'class': "object-top",
                                    'image': fields.media_image,
                                    'size': "full",
                                } %}
							</div>
						</div>
					</div>
				</div>
			{% endif %}

			{% if fields.media_type == "video" and fields.media_video %}
				<div class="media-container-outer">
					<div class="container">
						<div class="media-container video">
							<div class="media-container-inner" data-video="{{ fields.media_video }}"></div>
						</div>
					</div>
				</div>
			{% endif %}
		</div>
	</div>
</section>

