<section class="{{ block.slug }} {{ not fields.dark_mode ? 'bg-' ~ fields.bg : 'bg-[#F7F9FB]' }} {{ fields.dark_mode ? 'dark' }} bg-[#F7F9FB] overflow-x-clip overflow-y-visible">

	{% if block.anchor %}
		<div class="section-anchor" id="{{ block.anchor ?? block.id }}"></div>
	{% endif %}

	{% set pt = fields.padding_top and fields.padding_top != 'unset' ? fields.padding_top : 'st-xxl' %}
	{% set pb = fields.padding_bottom and fields.padding_bottom != 'unset' ? fields.padding_bottom : 'sb-xl' %}

	<div class="container">
		<div class="{{ pt }} {{ pb }}">
			<div class="w-full ~md:~px-[0rem]/[7rem]">
				<div class="flex flex-col items-center ~gap-[2.5rem]/[4rem]">
                    {% if fields.heading or fields.paragraph  %}
                        <div class="flex flex-col items-start ~gap-[1.25rem]/[2rem] w-full">
                            {% if fields.heading %}
                                <h2 class="block-title alpha max-w-[54rem]">{{ fields.heading }}</h2>
                            {% endif %}

                            {% if fields.paragraph %}
                                <p class="block-para alpha md:ml-[6.875rem] max-w-[30.5rem]">{{ fields.paragraph }}</p>
                            {% endif %}
                        </div>
                    {% endif %}

					{% if fields.media_type == "image" and fields.media_image %}
						<div class="media-container alpha">
							<div class="media-container-inner image">
								{% include 'components/image.twig' with {
                                    'image': fields.media_image,
                                    'size': "full",
                                } %}
							</div>
						</div>
					{% endif %}

					{% if fields.media_type == "video" and fields.media_video %}
						<div class="media-container alpha">
							<div class="media-container-inner video" data-video="{{ fields.media_video }}">
                                <div class="video-thumbnail">
                                    <div class="video-play">
                                        <img src="{{ function('svg', 'play') }}" loading="lazy" alt="play button">
                                    </div>

                                    {% if fields.media_video_thumbnail %}
                                        {% include 'components/image.twig' with {
                                            image: fields.media_video_thumbnail,
                                            size: 'large'
                                        } %}
                                    {% else %}
                                        <img src="{{ function('png', 'thumbnail') }}" loading="lazy" alt="default qcx thumbnail placeholder"/>
                                    {% endif %}
                                </div>
							</div>
						</div>
					{% endif %}

                    {% include 'components/cta.twig' with {
                        'class' : 'filled blue',
                        'cta': fields.cta,
                    } %}
				</div>
			</div>
		</div>
	</div>
</section>
