{% if fields.items|length %}
	<section class="{{ block.slug }} {{ block.className }}">
		{% if block.anchor %}
			<div class="section-anchor" id="{{ block.anchor ?? block.id }}"></div>
		{% endif %}

		{% set pt = fields.padding_top and fields.padding_top != "unset" ? fields.padding_top : "st-xl" %}
		{% set pb = fields.padding_top and fields.padding_bottom != "unset" ? fields.padding_bottom : "sb-xl" %}

		<div class="{{ pt }} {{ pb }}">
			<div class="container">
				{% if fields.items %}
					<div class="item-cards-container">
						<div class="item-cards left">
							{% for item in fields.items|filter((v, k) => k in [0, 2]) %}
								<div class="item-card alpha">
                                    {% if item.title %}
                                        <h5>{{item.title}}</h5>
                                    {% endif %}

                                    {% if item.description %}
                                        <p>{{item.description}}</p>
                                    {% endif %}
								</div>
							{% endfor %}

						</div>

						<div class="item-cards right">
							{% for item in fields.items|filter((v, k) => k in [1, 3]) %}
								<div class="item-card alpha">
                                    {% if item.title %}
                                        <h5>{{item.title}}</h5>
                                    {% endif %}

                                    {% if item.description %}
                                        <p>{{item.description}}</p>
                                    {% endif %}
								</div>
							{% endfor %}
						</div>
					</div>
				{% endif %}
			</div>
		</div>
	</section>
{% endif %}
