<section class="{{ block.slug }} {{ block.className }}">
	{% if block.anchor %}
		<div class="section-anchor" id="{{ block.anchor ?? block.id }}"></div>
	{% endif %}

	{% set pt = fields.padding_top and fields.padding_top != 'unset' ? fields.padding_top : 'st-xxl' %}
	{% set pb = fields.padding_bottom and fields.padding_bottom != 'unset' ? fields.padding_bottom : 'sb-xl' %}

	<div class="{{ pt }} {{ pb }} relative z-[2]">
		<div class="container">
			<div class="flex max-lg:flex-col ~gap-[2.5rem]/[8.4375rem]">
				<div class="flex flex-col lg:pt-[2.625rem] lg:flex-1 lg:basis-[33.3125rem] ~gap-[1.25rem]/[2rem]">
					{% if fields.heading %}
						<h3 class="block-title alpha text-white">{{ fields.heading }}</h3>
					{% endif %}

					<div class="block-content alpha flex flex-col ~gap-[1.25rem]/[2rem] md:pl-[6.875rem]">
						{% if fields.paragraph %}
							<p class="text-white w-full">{{ fields.paragraph }}</p>
						{% endif %}

						{% if fields.items|length %}
							<div class="flex flex-col ~gap-[1rem]/[1.5rem] relative z-[2]">
								{% for item in fields.items %}
									<div class="flex gap-[0.75rem] items-start">
										<img class="h-[1.75rem] w-[1.75rem] object-contain shrink-0" src="{{ function("svg", "check") }}" loading="lazy" alt="check">
										<p class="text-white flex-1">{{ item.description }}</p>
									</div>
								{% endfor %}
							</div>
						{% endif %}
					</div>
				</div>

				{% if fields.type == "form" and fields.form_shortcode %}
					<div class="block-box alpha lg:flex-1 lg:basis-[40.25rem]">
                        <div id="form-container">
                            <div class="form contact">
                                <svg xmlns="http://www.w3.org/2000/svg" width="34" height="27" viewbox="0 0 34 27" fill="none">
                                    <path d="M7.3133 0H0L9.50044 13.4354L0 26.8708H7.3133L16.8138 13.4354L7.3133 0Z" fill="#838786"/>
                                    <path d="M26.3237 0H33.637L24.1365 13.4354L33.637 26.8708H26.3237L16.8135 13.4354L26.3237 0Z" fill="#155086"/>
                                </svg>

                                <div class="form-inner">
                                    {{ function('do_shortcode', fields.form_shortcode) }}
                                </div>
                            </div>
                        </div>
					</div>
				{% endif %}

				{% if fields.type == "video" and fields.media_video and fields.media_video_thumbnail %}
					<div class="block-box alpha lg:flex-1 lg:basis-[40.25rem] lg:flex lg:items-center">
						<div class="media-container">
							<div class="media-container-inner video" data-video="{{ fields.media_video }}">
								<div class="video-thumbnail">
									<div class="video-play">
										<img src="{{ function('svg', 'play') }}" loading="lazy" alt="play button">
									</div>

									{% if fields.media_video_thumbnail %}
										{% include 'components/image.twig' with {
                                            image: fields.media_video_thumbnail,
                                            size: 'large'
                                        } %}
									{% else %}
										<img src="{{ function('png', 'thumbnail') }}" loading="lazy" alt="default qcx thumbnail placeholder"/>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				{% endif %}
			</div>
		</div>
	</div>

	<div class="bg alpha bg-blue absolute top-0 left-0 h-full w-full pointer-events-none z-[1]">
		<svg class="absolute center-xy w-auto h-auto min-h-full min-w-full" xmlns="http://www.w3.org/2000/svg" width="1440" height="900" viewbox="0 0 1440 900" fill="none">
			<g filter="url(#filter0_n_8588_8815)">
				<rect width="1440" height="900" fill="#206EEC"/>
			</g>
			<defs>
				<filter id="filter0_n_8588_8815" x="0" y="0" width="1440" height="900" filterunits="userSpaceOnUse" color-interpolation-filters="sRGB">
					<feFlood flood-opacity="0" result="BackgroundImageFix"/>
					<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
					<feTurbulence type="fractalNoise" basefrequency="0.66666668653488159 0.66666668653488159" stitchtiles="stitch" numoctaves="3" result="noise" seed="514"/>
					<feColorMatrix in="noise" type="luminanceToAlpha" result="alphaNoise"/>
					<feComponentTransfer in="alphaNoise" result="coloredNoise1">
						<feFuncA type="discrete" tablevalues="1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 "/>
					</feComponentTransfer>
					<feComposite operator="in" in2="shape" in="coloredNoise1" result="noise1Clipped"/>
					<feFlood flood-color="rgba(0, 0, 0, 0.1)" result="color1Flood"/>
					<feComposite operator="in" in2="noise1Clipped" in="color1Flood" result="color1"/>
					<feMerge result="effect1_noise_8588_8815">
						<feMergeNode in="shape"/>
						<feMergeNode in="color1"/>
					</feMerge>
				</filter>
			</defs>
		</svg>

		<img class="~w-[32.125rem]/[52.875rem] ~h-[39.75rem]/[65.5rem] ~right-[-7rem]/[-12.5rem] ~top-[-24.875rem]/[-34.875rem] aspect-[282/350] rotate-[118deg] absolute mix-blend-multiply" src="{{ function("png", "form-graphic") }}" alt="form graphic">
	</div>
</section>
