<section class="{{ block.slug }} {{ block.className }} {{ fields.dark_mode ? "dark" }} dark:bg-black border-y-[1px] border-light-grey dark:border-dark-grey mt-[-1px]">
	{% if block.anchor %}
		<div class="section-anchor" id="{{ block.anchor ?? block.id }}"></div>
	{% endif %}

	{% if fields.heading or fields.faq_items|length %}
		<div class="container no-pd">
			<div class="flex max-md:flex-col">
				{% if fields.heading %}
					<div class="~pt-[2rem]/[3rem] pb-[1rem] ~pr-[2rem]/[3rem] ~pl-[1rem]/[3rem] md:basis-[31.5rem] md:flex-1">
						<h2 class="block-heading alpha dark:text-white">{{ fields.heading }}</h2>
					</div>
				{% endif %}

				{% if fields.faq_items|length %}
					<div class="md:basis-[58.5rem] md:flex-1 max-md:border-t-[1px] md:border-x-[1px] md:mr-[-1px] border-light-grey dark:border-dark-grey">
						{% for item in fields.faq_items %}
							<div class="acc {{ loop.index == 1 ? "active" }}">
								<div class="acc-head">
									<h4 class="dark:text-white">{{ item.question }}</h4>

									<svg class="h-[1.5rem] w-[1.5rem] shrink-0" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path class="fill-black dark:fill-white" d="M18.3535 9.35352L12 15.707L5.64648 9.35352L6.35352 8.64648L12 14.293L17.6465 8.64648L18.3535 9.35352Z" fill="white"/>
									</svg>
								</div>

								<div class="acc-body">
									<div class="acc-body-inner">
										<div class="rich-text {{ fields.dark_mode ? " on-dark" }}">{{ item.answer }}</div>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				{% endif %}
			</div>
		</div>
	{% endif %}
</section>

