<article data-pg-item
  class="video-item group relative flex flex-col gap-[1.5rem] p-[2rem] border border-[#D9D9D9] rounded-[0.5rem] bg-[#F7F9FB] overflow-hidden">

  {% set cats = r.terms({ taxonomy:'partner_category' }) %}
  {% set cat_name = cats|length ? cats[0].name : 'Partner' %}

  {# CATEGORY #}
  <div class="flex items-center gap-[0.5rem]">
    <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect width="10" height="10" rx="2" fill="#08E8BD"/>
    </svg>
    <p class="text-[12px] uppercase tracking-[1.2px] font-[500]">{{ cat_name }}</p>
  </div>

  {# IMAGE #}
  {% if function('has_post_thumbnail', r.ID) %}
    <div class="relative w-full h-[10rem] flex justify-center items-center">
      {{ function('get_the_post_thumbnail', r.ID, 'medium', { class: 'max-h-[6rem] w-auto object-contain' })|raw }}
    </div>
  {% endif %}

  {# TITLE + EXCERPT #}
  <div class="flex flex-col items-start gap-[0.75rem]">
    <p class="text-[24px] leading-[1.4] font-[400]">{{ r.title }}</p>
    <p class="text-[18px] leading-[1.4] font-[400]">{{ r.post_excerpt }}</p>
  </div>

  {# LINKS #}
  <div class="flex flex-col items-start gap-[0.75rem] mt-auto">
    {% set visit = r.meta('visit_partner') %}
    {% set brief = r.meta('download_solutions_brief') %}
    {% set visit_url = visit ? visit : r.link %}

    {# Always show Visit Partner (either ACF URL or fallback permalink) #}
    <a href="{{ visit_url }}" target="_blank" class="flex items-center gap-2 text-[12px] uppercase tracking-[1.2px] text-[#206EEC]">
      Visit Partner
      <svg xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10" fill="none">
        <path d="M0.707031 0.707153L4.70703 4.70715L0.707032 8.70715" stroke="#206EEC" stroke-linecap="square"/>
      </svg>
    </a>

    {% if brief %}
      <a href="{{ brief.url }}" target="_blank" class="flex items-center gap-2 text-[12px] uppercase tracking-[1.2px] text-[#206EEC]">
        Download Solution Brief
        <svg xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10" fill="none">
          <path d="M0.707031 0.707153L4.70703 4.70715L0.707032 8.70715" stroke="#206EEC" stroke-linecap="square"/>
        </svg>
      </a>
    {% endif %}
  </div>
</article>
