<section class="{{ block.slug }} {{ block.className }}">
	{% if block.anchor %}
		<div class="section-anchor" id="{{ block.anchor ?? block.id }}"></div>
	{% endif %}

	{% set pt = fields.padding_top and fields.padding_top != 'unset' ? fields.padding_top : 'st-xl' %}
	{% set pb = fields.padding_bottom and fields.padding_bottom != 'unset' ? fields.padding_bottom : 'sb-xxl' %}

	{% set has_posts = posts and posts|length %}

	<div class="{{ pt }} {{ pb }}">
		<div class="container">
			<div class="flex flex-col ~gap-[2rem]/[3rem]">
				<div class="tab-items">
					<div class="tab-item active" data-slug="all">
						<p class="button">All Partners</p>
					</div>

					{% for cat in categories %}
						<div class="tab-item" data-slug="{{ cat.slug }}">
                            <p class="button">{{ cat.name }} Partners</p>
                        </div>
					{% endfor %}
				</div>

				{% if has_posts %}
					<div class="cards-outer">
						<div class="cards-container" data-per-page="{{ items_per_page }}">
							{% for item in posts %}
								{% set post_id = item.ID ?? item.id %}
								{% set post_title = item.post_title ?? item.title %}
								{% set post_image = function("get_field", "logo", post_id) %}
								{% set post_desc = function("get_field", "description", post_id) %}
								{% set post_links = function("get_field", "links", post_id) %}
								{% set post_category = function('wp_get_post_terms', post_id, "partner-type") %}

								<div class="pc in-filter" data-category="{{ post_category[0].slug }}">
									<div class="pc-card">
										<div class="pc-tag">
											<div class="pc-square"></div>
											<small>{{ post_category[0].name }}</small>
										</div>

										{% if post_image %}
											<div class="pc-logo">
												<img data-src="{{ post_image }}" alt="{{ post_title }}">
											</div>
										{% endif %}

										<div class="pc-content">
											<div class="pc-content-inner">
												<p class="lg">{{ post_title }}</p>

												{% if post_desc %}
													<p>{{ post_desc}}</p>
												{% endif %}
											</div>

											<div class="pc-links">
												{% for pl in post_links %}
													{% if pl.link %}
														{% set link_url = pl.link.url ?: "#" %}
														{% set link_title = pl.link.title %}
														{% set link_target = cpl.linkta.target ?: "_self" %}

														<a class="pc-link" type="button" href="{{ link_url }}" target="{{ link_target }}">
															<p class="button">{{ link_title }}</p>

															<svg xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewbox="0 0 6 10" fill="none">
																<path d="M1 1L5 5L1 9" stroke="black" stroke-linecap="square"/>
															</svg>
														</a>
													{% endif %}
												{% endfor %}
											</div>
										</div>
									</div>
								</div>
							{% endfor %}
						</div>

						<div class="empty">
							<div class="container">
								<h6 class="text-center">We're sorry, there aren't any posts that match what you're looking for.
									<br/>Try another a different filter or reset to see our latest posts.</h6>
							</div>
						</div>

						<div class="load-more">
							<div class="container">
								<div class="flex justify-center">
									<div class="btn filled blue" type="button">
										<p>
											<span class="front" data-original="Load">Load</span>
											<span class="back">Load&nbsp;</span>
										</p>
										<p>
											<span class="front" data-original="more">more</span>
											<span class="back">more</span>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				{% else %}
					<div class="empty active">
						<div class="container">
							<h6 class="text-center">There aren't any posts here just yet.
								<br/>Check back soon for updates.</h6>
						</div>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
</section>
